[2015-07-20 21:00] brentvatne opened #1 "shouldRotate API could be cleaner"
Currently I think this is a tad confusing to use - rather than `shouldRotate` could it be `lockToPortrait()`, `lockToLandscape()` and `unlockAllOrientations()`?

[2015-07-20 21:09] yamill commented on #1
Agreed. I'll improve the shouldRotate API.

Thanks for the suggestion!

[2015-07-28 16:25] tnguyen42 commented on #1
By the way... I'm probably lame, but I haven't been able to find out where to lock the orientation. Isn't it supposed to be in the app component?

I have an "undefined is not an object" when trying to evaluate Orientation.shouldRotate.

console.log(Orientation) correctly returns what it should.
Thanks for your help!

[2015-07-28 17:33] yamill commented on #1
@tnguyen42 did you put `Orientation.shouldRotate(0);` in the componentDidMount?

[2015-07-28 22:05] tnguyen42 commented on #1
Yes.

Looks like:
[code]

[2015-07-28 22:10] yamill commented on #1
@tnguyen42 in your AppDelegate.m do you have the following?

[code]

Make sure you have the `self.shouldRotate' it used to be `shouldRotate` but was fixed recently.

[2015-07-28 22:22] tnguyen42 commented on #1
Yeah, everything seems in order. I pasted the code today.
I've just rebuilt the entire app with XCode and it still doesn't work.
Though
[code]
correctly displays ```[tid:com.facebook.React.JavaScript] { shouldRotate: [Function],
  addOrientationListener: [Function],
  removeOrientationListener: [Function] }```

[2015-07-29 18:43] tnguyen42 commented on #1
Hi,
The function still doesn't work. Am I the only one who encountered such a problem?

[2015-07-29 19:43] yamill commented on #1
@tnguyen42 can you post your code somewhere?

[2015-07-29 21:38] tnguyen42 commented on #1
Well I've just tried to use it on a very short example and I got the same result. So here it is:

[code]

[2015-07-30 14:06] yamill commented on #1
@tnguyen42 Ok that looks ok. Can you show me your AppDelegate.h + .m files? Also which version of React Native you're using.

[2015-07-30 23:23] tnguyen42 commented on #1
Hi, thanks for your time.

Here's my AppDelegate.h:
[code]

And here's my .m:

[code]

And my react version is 0.7.1.

[2015-08-02 23:58] tnguyen42 commented on #1
Issue solved on my part: when adding files to my project, I had to check "Create groups" instead of "Created folder references".
Thanks for your time!

[2015-08-03 19:57] yamill commented on #1
@tnguyen42 awesome glad you fixed it!

[2015-08-10 18:43] navy1978 opened #3 "After rotation Dimensions remain the same"
Hi The dimension of the page is not affected by the rotation,  so for example calling this in Landscape:
Dimensions.get('window').height has the same result of calling it in Portrait

[2015-08-16 20:38] tnguyen42 opened #4 ""Unable to resolve module NativeModules""
Hi guys,

I've got an error displayed in the terminal when I run the app. It says:
[code]

However the project works correctly. Any idea what could cause this?

[2015-08-17 21:27] yamill commented on #4
I'm having the same issue. I'll take a look

[2015-08-18 10:37] tnguyen42 commented on #4
Apparently many plugins encounter dependency issues since the 0.9 release.
Thanks for having a look :-)

[2015-08-18 18:14] yamill commented on #4
Pushed the fix to git, thanks for catching this:
https://github.com/yamill/react-native-orientation/blob/master/index.js

[2015-08-18 18:14] #4 closed

[2015-08-18 18:33] tnguyen42 commented on #4
Npm Check Update doesn't detect any update. Should I update it manually?

[2015-08-18 18:50] yamill commented on #4
You can try now. Just bumped the version :+1:

[2015-08-18 19:31] tnguyen42 commented on #4
Works fine. Cheers mate!

[2015-08-21 15:04] yamill commented on #1
API has been updated @brentvatne :smile: thanks!

[2015-08-21 15:04] #1 closed

[2015-08-21 15:06] yamill commented on #3
@navy1978 this is because the Dimensions module doesn't update when the orientation changes. I think the RN team is working on this to make it better.

[2015-08-21 18:58] achang28 commented on #1
I tried 1.5 earlier today and could not get ```lockToPortrait()``` to work.  To make things easier for you to see, download both branches (1.4 && 1.5) from the following repo, and ```npm install``` for each branch:  https://github.com/achang28/OrientationTest.

1.4 branch: After pressing the "lock" button in the app, the orientation does in fact lock.
1.5 branch: the orientation does NOT lock afte

[2015-08-26 14:00] yamill commented on #1
Hey @achang28 Can you try 1.6? Made some minor changes. I'm also looking for someone that can help with getting shouldAutoRotate working.

[2015-08-26 14:02] achang28 commented on #1
Sure. Will give it a shot in a few hours (currently still in bed...)

[2015-08-26 14:09] yamill commented on #1
Cool. Thanks.
From reading the docs it says that the code below should be placed in the view controller.
[code]
I'm just wondering how can this be enabled globally? maybe @brentvatne can help?

[2015-08-26 21:08] achang28 commented on #1
Unfortunately I have no Obj-C skills...yet.  So with 1.6 ```lockToPortrait``` seems to work fine, whereas  ```lockToLandscape``` isn't behaving correctly -- it continues to allow rotation.

Good job -- keep at it!  Making some progress...

[2015-08-26 21:20] tnguyen42 opened #6 "RCTEventDeviceEmitter - unable to resolve module"
Hey,
Working on 1.6.0 here. Works fine for my use (lockToPortrait only), but when I run the app, I still got the error:
[code]
Works better if I comment `//var RCTDeviceEventEmitter = require('RCTDeviceEventEmitter');` in index.js, but I don't know if there will be any problem then.

[2015-08-31 15:13] tnguyen42 commented on #6
Hi @yamill,
Still no fix?

[2015-09-15 14:12] syslo opened #7 "Forcing rotation change"
I am trying to develop an iOS app where some screens support only landscape rotation and some screens only portrait. The problem occurs when I lock the rotation to portrait while the device is in landscape position. Screen remains in landscape until I physically rotate it. Changing the Scene (using Navigator) is not helping. Therefore, I need to somehow force rotation change.

I've made a longer r

[2015-09-15 14:32] yamill commented on #7
This is a known feature. Anyone is open to put in a PR for this. I haven't been able to figure it out as well since my objective-c knowledge is limited (I just started learning).

[2015-09-21 11:45] unknownexception commented on #3
As a temporary solution:

[code]

Of course, no more `Dimensions` module, window sizes become part of the global state and should be passed via properties.

[2015-09-21 15:01] tnguyen42 opened #8 "RN 0.11 Conflicting return type in AppDelegate.m"
Hi,

Since RN 0.11, the Installation instructions may be out of date. In particularly, this line gets a warning for a conflicting return type in AppDelegate.m:

`- (NSUInteger)application:(UIApplication *)application supportedInterfaceOrientationsForWindow:(UIWindow *) window {`

[2015-09-25 09:23] watert commented on #6
maybe its because the version of react-native in your npm is too old?

[2015-09-25 09:55] tnguyen42 commented on #6
Actually, it's become kind of a mess since RN 0.11, so I'm waiting for things to calm down a little... Right now I can't get anything compiled anymore, but it's probably not RN-orientation's fault.

[2015-09-27 18:05] chetstone opened #10 "Won't compile with RN 0.11"
When compiling Orientation.h, I get the error:

RCTOrientation/Orientation.h:16:12: Cannot find interface declaration for 'AppDelegate'

[2015-09-28 13:50] yamill commented on #10
@watert maybe you can take a look?

[2015-09-29 21:36] yamill commented on #10
See fix
https://github.com/yamill/react-native-orientation/blob/master/RCTOrientation/Orientation.h

[2015-09-29 21:36] #10 closed

[2015-09-29 22:31] chetstone commented on #10
Thanks. That works. Now I'm trying to use getOrientation(function(err, orientation)) and it is undefined. It does not appear to be defined in your index.js. If it doesn't exist, perhaps you could update the README to take out references to it until it does exist? Or if it does exist, perhaps I'm doing something wrong or there's another bug.

[2015-09-29 23:04] chetstone commented on #10
I'm also getting an error from the packager: `Unable to resolve module RCTDeviceEventEmitter from .../node_modules/react-native-orientation/index.js` even though my call to `locktoportrait()` works

[2015-09-29 23:17] chetstone commented on #6
I'm seeing this error and reverting commit ce56ce656cc4d60cdc08fba0ad6965ef5ebd74cd makes it go away.

[2015-09-30 15:16] yamill commented on #6
@chetstone mind pushing a PR for this? :)

[2015-09-30 16:58] chetstone opened #12 "getOrientation() does not exist"
Trying to use this function, I get an `undefined` error. And I don't see it's definition in `index.js`. Only in the README.

[2015-10-01 23:00] gudmundurmar commented on #10
@chetstone I couldn't even get Orientation.lockToPortrait(); in componentDidMount()? Did that work for you?
Is there an issue running with 0.11 React native? Or am I doing something wrong?
![screen shot 2015-10-01 at 6 56 05 pm](https://cloud.githubusercontent.com/assets/4741365/10235848/1e2b3f8c-686e-11e5-9c05-fd513c88dbc1.png)

[2015-10-01 23:29] chetstone commented on #10
After this fix, yes, it works. That was the error I was getting at first, before I got the compile error. Being an Xcode dummy, I had a lot of trouble getting the .h and .m files installed as part of the project so that Xcode would actually include them in the build. 

I'm on my phone right now but as I recall, when you add the folder to the project, make sure to select "Create Groups " or somethi

[2015-10-02 10:33] gudmundurmar commented on #10
Oh, great that works for me :grin:
Sry, I snagged your thread.
Just want to remind @yamill that you still have problems with
1. getOrientation(function(err, orientation))
2. error from the packager: Unable to resolve module RCTDeviceEventEmitter from .../node_modules/react-native-orientation/index.js

that are here above my first comment

[2015-10-11 17:55] jforaker commented on #12
+1

[2015-10-20 13:25] jawadrehman commented on #10
@yamill can you push this fix into a new release on npm .

[2015-10-20 21:55] arunshan opened #13 "Cannot find interface declaration for 'AppDelegate'"
[APPNAME]/node_modules/react-native-orientation/RCTOrientation/Orientation.h:16:12: Cannot find interface declaration for 'AppDelegate'

Am I missing something here?

I followed the steps as mentioned in the README but unable to build the application because of the above error.

[2015-10-20 22:07] arunshan commented on #13
Got that error resolved by adding the RCTOrientation folder using "Copy Bundle Resources".

[2015-10-20 22:09] arunshan opened #14 "Orientation.lockToPortrait Error"
I just posted a screenshot of the error below.
http://cl.ly/image/2G3p0C2w3l3X

I added the RCTOrientation directory to the project using Copy Bundled Resources. But when I use

[code]

I get the above error.

[2015-10-23 19:33] yamill commented on #10
Hey guys, sorry I've been away for a while...took a long vacation!

I'm going to remove getOrientation in the next update - @watert never completed the implementation.

I'll also update the npm to reflect these changes. Will keep you posted :)

[2015-10-28 04:53] SteveAquino commented on #13
@arunshan Were you able to get this working?  When I tried as you suggested the RCTOrientation is added but there's no files in it when I look in Xcode.

[2015-11-11 15:23] olitomas opened #16 "Android support"
Update the readme to include Android setup ( if it is supported that is ? )

[2015-11-11 16:19] yamill commented on #16
No android support as of now. If someone can do a PR for this I will accept it :)

[2015-11-19 23:33] tomtang539 commented on #12
yup, same problem for me.

[2015-11-20 09:33] klausbreyer opened #18 "Orientation.getOrientation is not a function"
Hi!

First of all: awesome work! this is helping me very much.

The Lock-Functions and the Listeners work very fine!

Sadly the getOrientation seems not a function:
[code]

usage:
[code]

package.json:
[code]

[2015-11-20 09:46] chrstffr commented on #14
+1

[2015-11-20 14:49] yamill commented on #12
Thanks @brianjd for the fix. Pushing this to npm now.

[2015-11-20 14:53] yamill commented on #18
Thanks! Looks like @brianjd just fixed this. You can get the new v1.9.0 from npm :clap:

[2015-11-20 14:53] #18 closed

[2015-11-20 14:54] yamill commented on #14
Did you try adding RCTOrientation with groups selected instead?

[2015-11-20 14:55] #12 closed

[2015-11-20 14:55] #6 closed

[2015-11-20 14:55] yamill commented on #6
Thanks!

[2015-11-20 14:56] yamill commented on #3
You can use the onLayout event to resolve this issue. I will close this issue now.

[2015-11-20 14:56] #3 closed

[2015-11-23 00:28] andrewljohnson commented on #13
I think this library fails if you don't name your main class AppDelegate. Like mine is called MapAppDelegate, so I get the error reported, and I can fix it by changing AppDelegate to MapAppDelegate to match my project in Orientation.h/m.

[2015-11-25 22:18] brianjd opened #19 "autoRotation (w/ fixed parent)"
Feels like I am missing something obvious, but does anyone know of a workaround to keep the parent window/view fixed, while allowing specific children to autorotate?

[2015-12-01 22:18] manask88 opened #20 "error when the device is left on a flat surface"
when the device is left on a flat surface, its reporting unknown as orienation

[2015-12-01 23:03] yamill commented on #20
the api will allow you to detect unknown :)

[2015-12-01 23:03] #20 closed

[2015-12-01 23:23] manask88 commented on #20
but that doesnt sound right, shouldnt it be portrait or landscape?

[2015-12-02 19:17] yamill commented on #20
it's not detecting either?

[2015-12-02 20:05] manask88 commented on #20
i dont get portrait or landscape. What it returns is unknown, which makes
it feel like a bug

On Wed, Dec 2, 2015 at 11:17 AM, Yamill Vallecillo <notifications@github.com

[2015-12-09 03:46] jaysoo commented on #16
I created a pull request here https://github.com/yamill/react-native-orientation/pull/22.

I've tested it against react-native 0.16.0 with Nexus 6 emulator and my OnePlus One.

You can lock, unlock, detect orientation changes, just like the iOS version.

[2015-12-17 16:54] yamill commented on #16
Awesome! Thanks @jaysoo! :clap:

[2015-12-17 16:54] #16 closed

[2015-12-18 00:09] pangers opened #23 "Differentiate PORTRAIT with UPSIDEDOWN in addOrientationListener"
As the title says.

As I am creating my React Native app, I have different layouts shown to the user when the phone is in portrait and landscape. When I set 'unlockAllOrientations' for a particular screen I am seeing the expected layouts for portrait (home button at bottom) and landscape. However, when I rotate the phone upside down, the layout is completely mangled.

It is showing the portrait la

[2015-12-18 01:06] fr-kshibata commented on #23
I confirm this. I try to disable upside down in the xcode but still its overriden by react-native module http://stackoverflow.com/questions/22764255/disable-orientation-in-iphone-app-ios-7-xcode-5

[2015-12-18 01:07] fr-kshibata commented on #23
Can we have a function just to disable portraitupsidedown? and not return it with portrait mode

[2015-12-18 01:10] fr-kshibata commented on #23
For the meantime I edited Orientation.m

- (NSString *)getOrientationStr: (UIDeviceOrientation)orientation {
  NSString *orientationStr;
  switch (orientation) {
    case UIDeviceOrientationPortrait:
      orientationStr = @"PORTRAIT";
      break;
    case UIDeviceOrientationLandscapeLeft:
    case UIDeviceOrientationLandscapeRight:

      orientationStr = @"LANDSCAPE";
      break;

    case UID

[2015-12-20 23:03] fr-kshibata opened #25 "is this repo still maintained?"
Just asking because it looks like it isnt anymore.

[2015-12-21 16:12] yamill commented on #25
It is maintained, updates are still being pushed.

[2015-12-21 16:12] #25 closed

[2015-12-21 16:13] #23 closed

[2015-12-29 23:10] tuneZola commented on #14
+1, I get the same thing. I have not tried with groups selected instead. The description is too vague, not sure what groups selected is referring to?

[2015-12-30 15:01] yamill commented on #14
@tuneZola Add RCTOrientation folder from your node_modules/react-native-orientation folder. Make sure you have 'Create Groups' selected

[2015-12-30 15:01] #14 closed

[2015-12-31 02:09] kenichi-shibata opened #26 "add option to disable orientation change for upside down for example"

[2016-01-01 04:54] cnjon opened #27 "how to get current screen size?"
When _orientationDidChange , run Dimensions.get('window')，the height and width not changed.

[2016-01-03 23:15] pangers commented on #27
The way I handled it was to check what orientation the screen is in, then you can figure out of the height and width are correct or if you need to swap them.

[2016-01-04 01:34] #27 closed

[2016-01-04 01:35] cnjon commented on #27
@pangers thanks!

[2016-01-06 17:10] scgough commented on #16
Hi there,
I've got this component set up and running in an app on a Samsung Galaxy S3. I'm getting strange results from it. 100's of LANDSCAPE orientations logged and maybe one PORTRAIT no matter how I hold my phone.

    componentDidMount: function(){
        Orientation.lockToPortrait();
        Orientation.addOrientationListener(this._orientationDidChange);
    },

    _orientationDidChange: fu

[2016-01-06 17:16] yamill commented on #16
@scgough I believe @vitaminwater fixed this. I just pushed the update to npm, can you try again?

[2016-01-06 17:37] scgough commented on #16
Thanks @yamill
Testing at the moment but I'm initially getting the following compile errors in `OrientationModule.java`

    Error:(34, 15) error: cannot find symbol class BroadcastReceiver
    Error:(34, 48) error: cannot find symbol class BroadcastReceiver
    Error:(51, 49) error: cannot find symbol class IntentFilter
    Error:(56, 57) error: cannot find symbol class IntentFilter

[2016-01-06 17:37] vitaminwater commented on #16
Oups, let me fix this.

[2016-01-06 17:45] vitaminwater commented on #16
Just made a pull request.

[2016-01-06 17:47] yamill commented on #16
Thanks @vitaminwater :+1:

@scgough I just pushed it again to npm

[2016-01-06 17:54] scgough commented on #16
Thanks @yamill @vitaminwater
This compiles now but I'm getting intermittent crashes. I'm not sure why yet but will continue to investigate. I can see the orientation being logged on the ReactJS side at the point of load and also the further changes are logged on the Java side but when I then switch the phone to the opp. orientation it crashes.
#weird

[2016-01-06 17:58] vitaminwater commented on #16
Can you copy/paste the stacktrace ?

[2016-01-06 18:00] scgough commented on #16
I'm seeing this error in Android Studio:

    01-06 17:52:12.459 14400-14400/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   java.lang.IllegalArgumentException: Receiver not registered: com.github.yamill.orientation.OrientationModule$1@427db3c0
                                                       at android.app.LoadedApk.forgetReceiverDispatcher(Loade

[2016-01-06 18:11] vitaminwater commented on #16
I remember seeing this, but I can't remember what it was:/ Still searching.

Did you add:

[code]

to you activity in the AndroidManifest.xml ?

[2016-01-06 18:23] vitaminwater commented on #16
ok, looks like the issue happens when android calls both onPause and onDestroy.

only fix I got now is to wrap the `unregisterReceiver` calls on `try {} catch` block :/

[2016-01-06 21:21] jaysoo commented on #16
@vitaminwater It could be worth keeping a boolean flag to track whether the receiver has been registered or not.

https://github.com/facebook/react-native/blob/5b3cb05fa8b1d100dff15af2bb63c2cfe5e0d17a/ReactAndroid/src/main/java/com/facebook/react/devsupport/DevSupportManager.java#L681-L684

Maybe host was not resumed before pause or destroy is called?

We can still keep the try catch, but it would

[2016-01-06 21:36] vitaminwater commented on #16
@jaysoo yes, you are right, I'll go for the FLog option then.

[2016-01-07 08:51] scgough commented on #16
Hi everyone - I don't have `android:configChanges="keyboardHidden|orientation|screenSize"` in my manifest file but I can add that if needed?

I will also manually add in the `try/catch` for now to see if it resolves the issue

[2016-01-07 09:06] scgough commented on #16
Hi guys,
I've managed to get this working by adding the `try/catch` to the `OrientationModule.java` file (see code below).
The only issue is that the callback to the React JS seems to have stopped working now. This isn't a massive issue for me as I just need to lock to portrait/landscape at the desired time (which does work) but I thought you should know.

    ...
    LifecycleEventListener listen

[2016-01-12 12:50] skv-headless opened #30 "[Android] reload js crash"
React Native v0.17
[code]

[2016-01-12 22:32] jpgarcia commented on #30
I'm experiencing the same issue, You can find more info about it here. https://github.com/yamill/react-native-orientation/issues/16

There is a fork with a solution created by @vitaminwater here => https://github.com/vitaminwater/react-native-orientation, so you can temporary reference your npm like this:

[code]

@vitaminwater are you going to submit a  PR with your fix?

[2016-01-13 10:40] vitaminwater commented on #30
I just submitted a PR.

[2016-01-13 10:41] vitaminwater commented on #16
Ok, just made a PR.

[2016-01-13 12:43] jpgarcia commented on #30
nice!

[2016-01-15 19:18] #30 closed

[2016-01-15 19:25] yamill commented on #16
Thanks just pushed this to npm

[2016-01-15 19:26] yamill commented on #30
just pushed to npm

[2016-01-18 01:32] sahas- opened #34 "Android crash: java.lang.IllegalArgumentException: Receiver not registered"
Hi,
I'm a newbie Android developer, wanted to lock down orientation on my react-native app. After implementing this module, App crashes on reload and seeing below error in the log.
I did verify by completely removing this module and don't see App crashing anymore. Any suggestions?

- Device: SAMSUNG-SGH-I337 - 5.0.1
- React-Native: 0.1.7

In my .js code, I've this

[code]

[code]

[2016-01-26 23:50] tuneZola opened #35 "imports"
I think that you forgot to mention that you need to add these packages also.

import android.content.Intent;
import android.content.res.Configuration;

[2016-01-27 02:31] yamill commented on #35
Can you submit a PR for this? Thanks!

[2016-01-28 17:33] latusaki opened #37 "Unbalanced calls start/end for tag 5"
I am getting the above message when Debugging in Chrome. Comes from RCTLog.js:38.

I am using react native 0.18.1

Is this something to look at or safe to ignore? I believe there is an 'info' icon next to the message (blue circle with white line)

[2016-02-03 01:19] manask88 opened #38 "Landscape Left is not supported"
After the latest update where an orientation change is forced there is one unintended consequence. whenever landscape is forced, it will be in landscape-right. This might be ok for some apps but for our use case it breaks.  Is there a way to get around this? if not, would you be willing to take a PR which solves this problem?
my idea is to have the following orientations after the change:

LANDSCA

[2016-02-04 20:36] yamill commented on #37
I see the same. I think it's safe to ignore right now. I have my app running in production and haven't experience any issues.

I'll close this for now. Thanks.

[2016-02-04 20:36] #37 closed

[2016-02-04 20:37] yamill commented on #38
I'm open to someone opening a PR for this.

[2016-02-04 20:39] yamill commented on #35
Thanks for the PR :+1:

[2016-02-04 20:39] #35 closed

[2016-02-04 20:40] yamill commented on #34
Did you resolve this by any chance? I think someone submitted a fix for this.

[2016-02-04 20:41] yamill commented on #13
I'll close this. I assume the issue was resolved.

[2016-02-04 20:41] #13 closed

[2016-02-04 20:43] yamill commented on #8
I believe this is resolved. I'll close this.

[2016-02-04 20:43] #8 closed

[2016-02-05 01:31] RyGuyM opened #40 "Get current lock"
Is there a way to get the current orientation lock? I have some conditionals that change what is displayed based on whether the view is unlocked in landscape mode or not.

[2016-02-09 03:33] halissonvit commented on #34
I am facing the same issue... Tried with the latest release and with the master branch.

[2016-02-10 20:21] bpolonia opened #43 "undefined is not an object (evaluating 'Orientation.lockToPortrait')"
Hi I am trying to use the lockToPortrait function and I keep get this error in console:

I imported your package, set its name to Orientation just as in your usage examples, and inside of `componentDidMount` I am just calling `Orientation.lockToPortrait();`

Please help :)

[2016-02-10 21:29] yamill commented on #43
Did you import the files in xcode?

[2016-02-10 21:37] bpolonia commented on #43
Yes I did. I right clicked on my project name, selected **Add Files to <My Project Name>** I selected **RCTOrientation** from node_module/react-native-orientation/

The only thing I didn't see was an option to have **Create Groups** selected.

Here is what it looks like.

![screen shot 2016-02-10 at 4 36 10 pm](https://cloud.githubusercontent.com/assets/6245672/12962711/949a2fb2-d014-11e5-82cc-9a3

[2016-02-11 06:19] nurdeen commented on #43
@bpolonia after you click on "Add Files to Project Name" there is a button called "Options" on the screen where you select the file(s). "Create Groups" is there.

[2016-02-12 03:34] halissonvit commented on #34
To give more context on this.
It only happens to me on react-native version 0.19.0
It works just fine on version 0.18.0

[2016-02-12 18:20] bpolonia commented on #43
@nurdeen Thank you! That worked. :+1:

[2016-02-12 18:20] #43 closed

[2016-02-14 00:07] yamill commented on #38
A PR was submitted for this @manask88. I'll be closing this.

[2016-02-14 00:07] #38 closed

[2016-02-14 00:25] manask88 commented on #38
great, thanks!

[2016-02-17 15:17] jimthedev opened #45 "Install with rnpm"
Hi there,

Is it possible to install this with rnpm instead of doing it manually?

Cheers.

[2016-02-18 20:14] yamill commented on #45
You can always install with npm :)

I'm open for an rnpm PR though.

[2016-02-18 21:47] jimthedev commented on #45
Sorry, I realize I misunderstood. Closing :)

[2016-02-18 21:47] #45 closed

[2016-02-24 15:27] yamill commented on #40
It can probably get exposed the same way we listen to Orientation changes. I would submit a PR but I'm really busy these days. I'm open for anyone to take this on.

[2016-03-01 09:09] jpmerritt commented on #23
Can anyone confirm that it's not possible to render a react native view in true upside down orientation?

react-native-orientation is setting UIInterfaceOrientationMaskAllButUpsideDown when you run Orientation.unlockAllOrientations(); which is not what I would expect. Is there a limitation from react-native itself?

[2016-03-04 08:54] aakashsigdel opened #47 "Not working in RN 0.21"
The callback to the listener is not being called in RN 0.21

[code]

[2016-03-04 15:18] yamill commented on #47
How about trying this?

[code]

[2016-03-04 19:00] whizkid77 commented on #23
I did have trouble with this a few weeks ago, but it works for me now.  In that time, I've upgraded to RN 0.20 though.  Upside down is enabled in Xcode, and all four orientations work in both simulator and a real iPad.

[2016-03-09 09:39] clmntcrl opened #48 "Incomplete module bridging on Android"
Those functions are not bridged for Android:
- `getSpecificOrientation(function(err, specificOrientation))`
- `lockToLandscapeLeft()`
- `lockToLandscapeRight()`

[2016-03-10 05:44] aakashsigdel commented on #47
How is this different from the code I wrote? In any case, it is not woking.

[2016-03-10 07:00] #47 closed

[2016-03-10 09:23] clmntcrl commented on #48
As a workaround you could:

- call `lockToLandscape()` on `lockToLandscapeLeft()` and `lockToLandscapeRight() `,
- call `getOrientation()` on `getSpecificOrientation() ` and return `"LANDSCAPE-LEFT"` (or `"LANDSCAPE-RIGHT"`) when `getOrientation()` return `"LANDSCAPE"`.

In that way, all exposed functions have an implementation on both Android an iOS.

---

I have also find this [http://stackoverf

[2016-03-11 02:51] KenChoi1992 commented on #34
Probably same problem here:
`E/unknown:React: receiver already unregistered
                                                java.lang.IllegalArgumentException: Receiver not registered: com.github.yamill.orientation.OrientationModule$1@3e8207ef
                                                    at android.app.LoadedApk.forgetReceiverDispatcher(LoadedApk.java:760)

[2016-03-15 03:46] ajoshdee commented on #19
+1

[2016-03-15 03:47] ajoshdee opened #49 "Podspecs"
Hi can u make podspecs for this?

[2016-03-15 14:19] markrickert commented on #49
Hey @ajoshdee, a podspec can not be made for this project since it's react-native and not swift/objective-c. You should use `npm` to install this into your react native project. https://facebook.github.io/react-native/docs/getting-started.html

[2016-03-15 21:01] ncnlinh commented on #34
same problem here...

[2016-03-16 00:24] ajoshdee commented on #49
i mean for the .m and .h file so i won't have to import it manually

[2016-03-16 16:09] ajmeraramesh opened #50 "Orientation layout problem"
Hi,
I am new to react native. I developed a small application using orientation which needs to work with two   layouts for portrait view and landscape view both are different styles layouts. when i open the application in landscape and when i logout through landscape i get no problem in the layout where as when i login in  landscape view and logout in portrait view i get the landscape layout  its

[2016-03-17 18:18] yamill commented on #48
@clmntcrl a new PR was submitted for this - https://github.com/yamill/react-native-orientation/pull/51

Thanks to @scgough

[2016-03-18 01:39] ajoshdee opened #52 "Switching screen orientation"
Hi, I'm switching to landscape orientation and back to portrait using the lockTo function. How do i do this? I keep getting an error when i set it on "componentWillUnmount"
`Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.`

[2016-03-21 01:21] ajoshdee opened #54 "GetState"
How do i get the state of the navigation like when it's pushed or poped? Sample Implementation would be much appreciated.

[2016-03-21 01:21] #54 closed

[2016-03-21 05:36] MedusaLeee opened #55 "Not work on android react-native 0.21"
[code]
Not work on android react-native 0.21.

[code]

The error is: Orientation is not an object.

How should I configure on react-native 0.21 on android?

[2016-03-22 19:57] ufon commented on #55
+1

[2016-03-25 22:01] Sh3rawi commented on #55
The way you imported the Java module is correct. But its weird though, im using 0.21 on Android with no problem at all.

[2016-04-01 16:00] venk-aw opened #56 "Wrong Orientation on iOS"
Orientation is identified as UNKNOWN when device is laid on a flat surface.

[2016-04-01 16:13] venk-aw commented on #56
You can use UIInterfaceOrientation instead of UIDeviceOrientation.
Look at following URL http://stackoverflow.com/questions/3901337/ipad-launch-orientation-when-flat-on-surface

[2016-04-05 23:34] chetstone opened #58 "listener can get called with a meaningless value"
It seems whenever orientation changes, my listener gets called twice: once with a valid string, then with an integer:

Workaround: test if the parameter is one of the expected strings, otherwise ignore it.

[2016-04-07 11:15] SudoPlz commented on #45
So can we install using rnpm at the moment?

[2016-04-08 22:52] masterkrang opened #59 "can I use `rnpm link` to get this library properly configured?"
Noticed this isn't part of the README, just curious why

[2016-04-10 08:30] holyxiaoxin commented on #55
I'm using react-native `0.23.1` and I believe that alot has changed since the documentation. I am having difficulties installing this package for android. Right now, my MainActivity.java looks something like this:

[code]

And I'm still missing some lines to add.

[2016-04-10 08:33] holyxiaoxin opened #60 "Update documentation for Android"
I am having difficulties installing this for android with react-native `v0.23.1`.

My MainActivity.java looks something like this:

[code]

Anyone gotten this to work for android with the latest version of react-native?

[2016-04-10 08:57] holyxiaoxin commented on #60
I have managed to get this working with the above installation for android.

[2016-04-10 08:57] #60 closed

[2016-04-10 09:01] holyxiaoxin opened #61 "[iOS] Exception when setting up landscape orientation: Orientation.lockToLandscape()"
[code]

I am trying to lock a screen using either portrait or landscape.
I have tested that it works for android, both portrait and landscape. However, only portrait is working for ios. When i tried to use `Orientation.lockToLandscape()` in `componentDidMount`, it threw the above exception.

[2016-04-11 18:45] ncnlinh commented on #34
App crashes if the listeners are initialized too early. We can refer to this, which solves the bug https://github.com/walmartreact/react-native-orientation-listener/pull/9

[2016-04-11 18:45] ncnlinh commented on #34
https://github.com/walmartreact/react-native-orientation-listener/issues/8

[2016-04-12 13:06] holyxiaoxin commented on #61
@yamill could you confirm the latest peer dependency version of react-native working for this package? I can't seem to get this to work for the latest version of react-native. Thanks.

[2016-04-12 15:14] yamill commented on #59
rnpm is not configured at the moment. if someone would like to submit a PR for this, i am open to this.

[2016-04-12 18:25] stereodenis opened #63 "Get orientation change when orientation is locked"
Is there a way to get orientation, when orientation is locked?

for example:
Orientation.lockToPortrait()

but when device get landscape orientation — I want to get this event

[2016-04-17 17:45] PublicParadise opened #65 "lockToLandscapeRight and lockToLandscapeLeft are swapped"
See https://github.com/yamill/react-native-orientation/blob/master/RCTOrientation/Orientation.m#L144-L152

[code]

versus https://github.com/yamill/react-native-orientation/blob/master/RCTOrientation/Orientation.m#L156-L165

[code]

[2016-04-20 02:25] holyxiaoxin commented on #61
Tested working, fixed on `react-native v0.25.0-rc`

[2016-04-20 02:25] #61 closed

[2016-04-28 16:08] #34 closed

[2016-04-30 10:43] Sh3rawi commented on #65
Can you confirm that its swapped on a real device ? Unfortunately i do not have an access to an iPhone these couple of days.
However, I wrote this by trial => i rotated the device to one of the 2 sides, and after that I called the lockToLandscape.What should happen is that it should not re-rotate to the other side, which confirmed to me this was right.
Can you try that out and tell me what happens

[2016-04-30 17:19] tjbo commented on #55
+1 but on 0.24 rn

[2016-05-01 10:19] Sh3rawi commented on #55
Here is a branch with a demo working on 0.24
https://github.com/Sh3rawi/react-native-orientation/tree/new_demo

[2016-05-02 22:16] #55 closed

[2016-05-04 13:18] dwaligora opened #68 "Does it override xcode settings?"
Hey guys,

Does this lib override the default project settings set in xcode? I am experiencing really wired behaviour after adding the lib into my project.

It is locked to the `portrait` orientation but when I add this lib (and I even dont import it anywhere in my source code) it overrides the orientation setting and unlocks all. Is it how it supposed to behave?

What I am trying to achieve is to

[2016-05-05 07:54] #68 closed

[2016-05-13 14:21] texas697 opened #69 "cb is not a function"
when I rotate phone I get this error. using "react-native": "^0.25.1",

[2016-05-25 13:26] skilesare opened #70 "Can't use module from an InputMethodService on Android"
I'm trying to use the orientation package from an InputMethodService to force my React-Native componet to rerender.   Basically I need to recalclate the style and apply the different width to the width of my controls.  Unfortuantely the orientation module on android requires an activity in the constructor.

`new OrientationPackage(Activity activity)`

 Any ideas on how to pass it something Activy

[2016-05-26 18:16] courthead commented on #43
@bpolonia  I'm having the same error appear when I run my project on Android. I followed all of the instructions in the README. Any ideas?

[2016-05-29 23:53] shaneosullivan opened #71 "Unable to install with newer versions of React Native"
React Native is on version 0.27, but it's not possible to install with this since it says v0.5 and up, and unfortunately the RN team did not use 0.05 like they should have, so NPM complains.

Can you please raise the version to something in v0.2x so this can be installed with a new install?

[2016-06-02 07:05] L-Jovi opened #72 "pop can't call lock method well"
I do `navigator.push()` and execute `lockToLANDSCAPE` in `componentDidMount` method and I get `LANDSCAPE` orientation.

then I want to `navigator.pop()` and expect back to `PORTRAIT` orientation, so I call `lockToPortrait` after `pop`, it works.

.. but I find that device orientation can't change to `PORTRAIT` if I already put my device in `PORTRAIT` orientation **(`lockToLANDSCAPE` now)** when I

[2016-06-11 15:32] L-Jovi commented on #72
any idea now :)

[2016-06-13 14:17] #49 closed

[2016-06-13 14:17] #59 closed

[2016-06-13 14:17] #69 closed

[2016-06-13 14:17] #71 closed

[2016-06-15 21:12] regentcid434 opened #76 "Orientation locking not working"
I have been using this package for a few months, and it worked well. This week we upgraded from react native 0.24 to 0.27. Now the orientation locking methods are not working. I tried other orientations as well, but none of them worked either. Stepping through it, the function is being called, and no error is being thrown.

[code]

[2016-06-16 10:29] Alternhuman commented on #76
Same issue here. It works with 1.16.0.

[2016-06-16 13:44] sjchmiela commented on #76
That's because you have to do an extra step of installation, introduced with 1.17.0.

https://github.com/yamill/react-native-orientation#ios

If `Orientation.h` can't be found, add to Your Project Settings — Build Settings — Header Search paths: `$(SRCROOT)/../node_modules/react-native-orientation/iOS` (recursive).

[2016-06-16 16:19] regentcid434 commented on #76
That solved it. Thanks much.

[2016-06-16 16:19] #76 closed

[2016-06-16 22:12] bradennapier opened #78 "Missing FaceUP and FaceDown"
It would appear you are not currently listening to the

UIDeviceOrientationFaceDown or UIDeviceOrientationFaceUP in the case statement so those values are returning UNKNOWN

Not sure if Android provides the option which might be why it was left out but having false unknowns wasn't preferred here.  I think that it probably makes the most sense to modify the style to return an object to the listener

[2016-06-16 22:14] bradennapier commented on #78
Modified the Orientation.m file:

[code]

[2016-06-17 22:18] LeBlaaanc opened #79 "1.16.0 -> 1.17.0 breaks iOS linking and orientation locking"
You might want to consider bumping your major version since it is no longer technically backwards compatible.

[2016-06-19 08:39] vincentfretin opened #80 "listener not removed after component unmount"
Listener is not removed when a component is unmounted, I get a warning because a listener is called on an unmounted component.

In your code
https://github.com/yamill/react-native-orientation/blob/a7e5707e098ed9cabe714c8a5817b7b6608ebd65/index.js#L34-L46
you maintain a unneeded listeners array, but more importantly you forgot to do DeviceEventEmitter.removeListener with the good params or call the

[2016-06-19 22:34] masterkrang commented on #52
@ajoshdee did you have any luck figuring out why this is being caused? Same thing here, I'm calling this way:
[code]

Same error:

[code]

cc @yamill

[2016-06-20 03:59] ajoshdee commented on #52
I'm not using this anymore , but my best bet is using
[code]

[2016-06-22 15:07] toddmetheny opened #81 "iOS 6s+"
I'm using react-native-orientation and it works great on my iphone 6s. It doesn't seem to recognize events consistently on ios 6s-plus, though.

I wanted to check to see if this is an implementation error on my part or an issue. Have people been successfully using this library with 6s-plus? Was that included in testing? Thanks in advance.

[2016-06-27 15:49] HectorFL opened #82 "How set portrait upside down?"
Hi, I need to set a screen inverted and can't find how to lock the orientation in portrait upside down, exists any way? Thanks.

[2016-06-29 12:34] stereodenis opened #83 "RN 0.29 installation guide change"
https://github.com/facebook/react-native/releases/tag/v0.29.0-rc.0

[2016-06-29 17:23] srhise commented on #79
Any update on this?

[2016-06-30 11:40] riten7 opened #84 "Error:Configuration with name 'default' not found."
When I put this line
    `compile project(':react-native-orientation')` in dependencies section of gradle file then this error occurs. If removed build is successful but Orientation change cannot be imported in the activity..What am I missing?

[2016-06-30 11:53] stereodenis commented on #84
@riten7 got this, when run `rnpm link`
but I have
`compile project(':Orientation')`

[2016-06-30 16:21] riten7 commented on #84
Do I need to use npm install ... process and then npm link ???

[2016-07-05 17:50] philikon commented on #83
Yeah, so, RN 0.29 moves the module instantiation from the Activity to the Application. react-native-orientation currently depends on getting a reference of the activity passed in...

[2016-07-13 22:31] SudoPlz commented on #83
So what do we pass to `new OrientationPackage(this),` ?

[2016-07-14 13:38] stereodenis commented on #56
@venk-aw look at https://github.com/yamill/react-native-orientation/issues/78

[2016-07-22 04:36] jwarby opened #86 "Bluetooth permission"
I noticed that after I included this module, my app was using bluetooth permissions.  I had a quick look through this repo and the only reference I can find to bluetooth is the `<uses-permission />` tag in `AndroidManfiest.xml`.

I was able to remove the permission from my app by putting `<uses-permission android:name="android.permission.BLUETOOTH" tools:node="remove" />` in my app's `AndroidManif

[2016-07-22 23:23] marktolson opened #87 "Installing on Android via rnpm does not seem to work."
Receiving undefined is not an object whenever calling Orientation.initialOrientation.

[2016-07-23 09:28] larilampen commented on #87
It works with react-native versions below 0.29 only, a symptom of a breaking change in the application template. Pull request #85 fixes the issue, so either use the code in that or (if you can afford to) wait until it is merged and released.

[2016-08-01 12:39] gethinwebster commented on #65
@Sh3rawi I've just come across this issue, and can confirm that it's a bug: if you check the device orientation, and then apply the 'matching' `lockToLandscape*` method, it will flip the orientation when locking it.

[2016-08-01 15:10] Sh3rawi commented on #65
@gethinwebster can you provide a gif or a video to demonstrate it? I've checked it now.
But let me get this straight, you mean if you are already in landscape mode and you lock it, it will flip to the other landscape direction, right ?

[2016-08-01 16:39] unel opened #88 "Add / remove orienation listener owerrites previous values."
Hello! Your realization of adding / removing orientation listeners (https://github.com/yamill/react-native-orientation/blob/a7e5707e098ed9cabe714c8a5817b7b6608ebd65/index.js#L34-L46)

contains a bug:
callback with same name and body will overwrite previous callback with that name and body, because function, used as object key converts to string.

it's wrong behavior, because same name and body not

[2016-08-05 01:48] sckoh opened #90 "Android activity reload when lock orientation called"
When I call Orientation.lockToXXX();

Whole react activity is refreshed. I just want to change the orientation of current page but the whole app is refreshed

[2016-08-05 01:51] sckoh commented on #90
adding

[2016-08-05 01:52] #90 closed

[2016-08-08 12:33] shaikhussian opened #91 "orientation.h file is not found"
Getting an error like  orientation.h file is not found, when i try to run it in xcode, please give me suggestion that how to solve this

[2016-08-08 15:07] tststs commented on #91
same issue with react-native@0.31

[2016-08-08 15:55] tststs commented on #91
don't know what caused the issue, but it appeared after upgrading to `react-native@0.31`

you can use:

`#import "../../node_modules/react-native-orientation/iOS/RCTOrientation/Orientation.h"`

as a temporary workaround.

[2016-08-09 09:55] lzm8607 commented on #91
libRCTOrientation.a can't be created..

[2016-08-12 10:54] garlab opened #92 "orientationDidChange not triggered on Android when device is idle"
I have a function orientationDidChange:

[code]

When viewing the screen in landscape, due to inactivity my screen locked. Picking up the phone, I moved it to portrait and unlocked the screen. The screen was then displayed with the landscape view.

Checking showed that orientationDidChange is not triggered when doing landscape -> locking -> portrait -> unlocking, but it is when doing portrait -> l

[2016-08-12 16:34] esutton commented on #83
In general, how can you pass the activity to a package from within ReactApplication::getPackages() in the MainApplication.java ?

[2016-08-15 04:08] agrcrobles opened #93 "Add support for react-native > 0.29.0"
The following code is no longer valid in new versions from react-native 0.29.0

[code]

That is because `this` scope is `Application` instead of an activity.

[2016-08-20 21:19] #83 closed

[2016-08-20 21:21] #88 closed

[2016-08-22 07:47] aboutqx commented on #93
Actually the code in github may works,it needs to be submitted to npm.

[2016-08-22 15:47] magicspon commented on #93
The current instructions are not working for me (using the latest version of react-native)

[2016-08-22 16:00] magicspon opened #95 "Cannot read property 'lockToLandscape' of undefined"
Hello,

I'm getting the following error. (I'm using react-native 0.31.0 for android)

I have run `rnpm link react-native-orientation` and tried manually linking

Manually linking caused a world of errors, see ticket https://github.com/yamill/react-native-orientation/issues/93

[code]

Here is a snippet of the code I'm using

[code]

I presume these errors are coming from not being linked correctly

[2016-08-25 15:58] dxhame opened #96 "erorr on 0.31"
error on 0.31

[2016-08-25 16:23] dxhame commented on #96
getCurrentActivity() or reactContext.getCurrentActivity()
all error.

[2016-08-26 03:18] xiongzhend commented on #96
yes, I may face the same problem, I am 0.31,too

Usage says, add this --> new OrientationPackage()
but, the compiler says:
错误: 无法将类 OrientationPackage中的构造器 OrientationPackage应用
到给定类型;
          new OrientationPackage()
          ^
  需要: Activity
  找到: 没有参数
  原因: 实际参数列表和形式参数列表长度不同
1 个错误
:app:compileDebugJavaWithJavac FAILED

[2016-08-26 09:36] amourya-systango commented on #96
I have same issue with react 0.31. Package require new OrientationPackage(Activity) on MainApplication.java but mentioned add without Activity instance as follow:
  @Override
  protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
          new MainReactPackage(),
          new OrientationPackage()      <------- Add this
      );
  }

what is the solution? Please h

[2016-08-26 09:40] dxhame commented on #96
https://github.com/yamill/react-native-orientation/blob/master/android/src/main/java/com/github/yamill/orientation/OrientationModule.java

 public OrientationModule(ReactApplicationContext reactContext) {
       super(reactContext);
       Activity activity=reactContext.getCurrentActivity();
}

[2016-08-26 10:18] amourya-systango commented on #96
Not able to find method getCurrentActivity()

[2016-08-26 13:27] Liroo commented on #96
Hey, someone resolved this problem ? I'm on it too, I would handle this fast

[2016-08-26 13:28] Liroo commented on #95
Same on 0.31, this works well on iOS but Android

[2016-08-26 14:06] xiongzhend commented on #96
Hey, I resolved it.

you can npm remove react-native-orientation --save

then download the latest source from github.com and unzip into your
node_modules

after that, react-native link react-native-orientation, then it will
automatically rewrite setting.gradle and bundle.gradle

last, update MainApplication.java and MainActivity.java, then you can use
it in your js files

2016-08-26 21:27 GMT+08:0

[2016-08-26 14:35] Liroo commented on #96
Hey, I resolved it too :)

Npm package was not updated with github ! 👍

[2016-08-26 15:04] xiongzhend commented on #96
greetings!

2016-08-26 22:35 GMT+08:00 Pierre Monge <notifications@github.com>:

--
Alex Xiong
------------------------------------------------------------------------------------
Mobile: +86 18930034922
------------------------------------------------------------------------------------

[2016-08-29 19:57] esutton commented on #93
@aboutqx Thank you!

[code]

[2016-08-30 04:15] webmakersteve commented on #70
Bump. Having this issue as well.

[2016-08-31 21:10] stereodenis commented on #96
@yamill could you update npm version to stable master?

[2016-09-01 05:18] mvnpgh opened #97 "react native upgrading Orientation issues"
constructor OrientationPackage in class OrientationPackage cannot be applied to given types;  new OrientationPackage(),

we are upgrade RN to 0.31.
while installing the app the above exception is coming

[2016-09-01 07:13] sooth-sayer commented on #63
@stereodenis In the latest version (1.17.0) I see that the orientation listener and the specific orientation listener are called, regardless of orientation lock.

[2016-09-01 14:01] flaviotobi opened #99 "[HELP] Fixed landscape mod"
i'm trying to fix one of many views in landscape.
But unfortunately  when i rotate the device, the screen go back to portrait.
I'm using :
     Orientation.lockToLandscapeLeft();

and have tried with:
 Orientation.lockToPortrait();

React-Native: 0.31.0
Running app in iPhone 6s

[2016-09-01 16:24] flaviotobi commented on #95
Same as @Liroo  and @magicspon

[2016-09-02 08:30] flaviotobi commented on #95
the steps of @xiongzhend solved this problem. Beware that when you download the master you have rename from "react-native-orientation-master" to "react-native-orientation"

https://github.com/yamill/react-native-orientation/issues/96

[2016-09-05 10:54] flaviotobi commented on #99
solved

[2016-09-05 10:54] #99 closed

[2016-09-05 15:41] yray commented on #97
I got this error too :(

[2016-09-09 17:48] ultimagriever opened #100 "Orientation not changing on Android 6.0.1"
I'm testing on a Nexus 5 with Android 6.0.1 installed and I have a button which, when pressed, is supposed to toggle orientation (landscape/portrait and so on). The button, however, is not working: if the phone is on portrait, it stays locked on portrait and doesn't change to landscape, even if I unlock all orientations before locking again. I'm still a bit unsure if it's a RN issue rather than th

[2016-09-09 19:12] ultimagriever commented on #100
Also, if I lock orientation, it doesn't return me the right orientation (i.e. locked to portrait, then flipped device to landscape, instead of returning `PORTRAIT` it returns `LANDSCAPE`).

[2016-09-12 17:05] ultimagriever commented on #63
It doesn't on Android.

[2016-09-13 19:02] esutton commented on #100
- Orientation is broken on Android.  I do not know when it broke.
- It is still working for me on iOS with the following:
[code]

On Android I never see the console.log placed inside _orientationDidChange()

I have checked my Android installation versus the react-native-orientation README several times.

[code]

Does anyone have it working with latest RN 0.33 on **Android** ??

[2016-09-15 12:47] yspychala commented on #100
@esutton I suggest you try xiongzhend's solution : https://github.com/yamill/react-native-orientation/issues/96. It worked for me with RN@0.33.

[2016-09-15 14:44] esutton commented on #100
@yspychala Thank you.  I will give it a try.

https://github.com/yamill/react-native-orientation/issues/96#issuecomment-242745023

[2016-09-15 15:32] esutton commented on #100
@yspychala  Is solution  https://github.com/yamill/react-native-orientation/issues/96#issuecomment-242745023 the same as changing the apps **package.json** to point directly to github?

`"react-native-orientation": "git+https://github.com/yamill/react-native-orientation",`

This is what I have had all along.  It seems like it should be the same but since it does not work for me, I will try solutio

[2016-09-15 15:34] esutton commented on #96
@xiongzhend Is your solution the same as changing the apps package.json to point to github?

`"react-native-orientation": "git+https://github.com/yamill/react-native-orientation",`

I think this should be the same.  However it is still not working for me on Android.

I will try your solution to download the latest source from github.com and unzip into my
node_modules

[2016-09-15 15:48] yspychala commented on #100
@esutton Yes, the solution is to point to github (at least for now). Then I advice you linking manually the dependence. The `react-native-link` didn't work well for me and some required changes were missing.

[2016-09-15 16:13] esutton commented on #93
Works fine on iOS. Something broken on Android. ( Android 6.0.1 and RN 0.33 )
https://github.com/yamill/react-native-orientation/issues/100  [Orientation not changing on Android 6.0.1](https://github.com/yamill/react-native-orientation/issues/100)

[2016-09-15 19:35] ultimagriever commented on #100
I have solved this issue by adding in my `MainActivity` a listener that listens for accelerometer oscilations and broadcasts the orientation change if the phone is inclined at a given angle. But this is bulky and messy, and I should never have to mess with `MainActivity` while developing. I'll post the solution later on.

[2016-09-15 22:36] philikon commented on #93
@yamill can you push another release to npmjs.com please?

[2016-09-16 17:56] ultimagriever commented on #100
My solution was to have `MainActivity` implement `SensorEventListener` and fire the orientation events manually by listening to the accelerometer. I think, however, that this wastes a great deal of battery.

[2016-09-16 19:36] esutton commented on #100
@ultimagriever Thanks

I need to make time to add some console debug statements into the java code and use adb to help get clues on what is going on.

[2016-09-18 08:16] linonetwo commented on #100
I tried follow the step @xiongzhend mentioned, but still can't get it work on Android, reading ```undefined is not an object(evulating 'Orientation.lockToLandscape')```

Can you use this on Android now?

[2016-09-18 09:12] linonetwo commented on #100
OK, It worked mysteriously.

I believe that previous failure was due to ↓ when running ```react-native run-android```

[code]

I just ignore that error, then rerun ```react-native run-android``` then it worked.

[2016-09-19 08:37] Liroo commented on #96
Exactly ! This is the best way to make this module works

[2016-09-19 13:32] esutton commented on #100
I put a bunch of Log.d statements all over OrientationModule.java

I see new BroadcastReceiver being created and registered.

But I never see  the Log.d I put inside the onReceive method?

@linonetwo Are you running version Android **6.0.1** and it is working for you?

[code]

[2016-09-19 16:40] esutton commented on #100
It works for me on Android 6.0.1.

No mystery.  I am an idiot.  I was missing my **onConfigurationChanged** from **MainActivity.java**.

Sorry for the noise.  The answers are all in the **README**

https://github.com/yamill/react-native-orientation/blob/master/README.md

[code]

[2016-09-20 07:15] HermesHsieh commented on #95
I solved this problem! I re-compiler my project 'react-native run-android', then it works!

[2016-09-23 19:08] noxowe commented on #99
@flaviotobi do you mind sharing how? I have the same problem

[2016-09-26 02:24] mvayngrib commented on #43
@yamill this seems to be a recurrent issue for me. Any idea why I would have to rebuild periodically? I think it happens especially often when I switch from debugging the iOS simulator to debugging the android emulator and vice versa

[2016-09-26 02:27] mvayngrib commented on #43
nm, seems it has been fixed in #85. Could you republish the module to npm?

[2016-09-26 14:41] flaviotobi commented on #99
@noxowe  Hi there :) by the way this method is not original mine, i saw this from someone issue in this package.

1- download the master from git hub (dont do npm install, it's buggy )
2- put the master in project folder node_modules
3- link the library
4- try it out =D

In point 3 you should go to the docs of this package and see what you have to do
(if i remember correctly is just link the packa

[2016-09-27 10:23] luoshuai5 opened #103 "Exit app ，print error."
Exit app, print error. call this "activity.unregisterReceiver(receiver)" two times, I think you can do this.

[code]
the function  onHostPause() and onHostDestroy()

[2016-09-30 13:11] lovato commented on #86
Noticed the same today... Will do the same as @jwarby

[2016-10-07 17:26] dannycochran opened #107 "react-native version in peerDependency breaks with specific react versions"
If I install a specific, new release of React Native, e.g:

[code]

It does not meet the peer dependency requirement in react-native-orientation package.json. Not sure if this is caused by the rc.0 tag in the react native release. Is the peerDependency config necessary?

[2016-10-14 08:03] liutian1937 commented on #93
+1

[2016-10-15 15:42] Firfi opened #109 "NativeModules.Orientation is undefined, or 'undefined is not an object (evaluating Orientation.getOrientation)'"
Hello! I'm trying to use your library but I can't get any method working, i.e. Orientation.getOrientation(). To be precise, Orientation object is required and defined in my code, but the issue is with inner getOrientation() method implementation. I've tracked it down up to `var Orientation = require('react-native').NativeModules.Orientation;` which is undefined.

I'm running it on simulator curren

[2016-10-20 19:29] mjbader commented on #91
For anyone still encountering this issue, I fixed it by manually linking the library.  Step 3 was the step I overlooked.

http://facebook.github.io/react-native/docs/linking-libraries-ios.html#step-3

[2016-10-22 12:23] julien-rodrigues opened #110 "Push a new version to npm"
The npm version has been updated for months!

The npm version doen't support RN >= 0.29 and I'm not really confident in adding the master branch to my package json

[2016-10-28 23:45] rawrmaan commented on #110
@yamill  @youennPennarun Yes please!

[2016-10-28 23:57] youennPennarun commented on #110
@rawrmaan I'm not the maintainer of this project, I can't do anything about it, sorry.

[2016-10-29 06:09] whizkid77 opened #111 "Required dispatch_sync to load constants for Orientation. This may lead to deadlocks"
I'm getting the following yellow box warning when `require`ing this module:

This did not happen until I upgraded to React Native 0.35.0.

To reproduce, just include this line anywhere in your code:
`const Orientation = require('react-native-orientation');`

It doesn't happen 100% of the time, only about 20% of the time.  It could be some race condition.

[2016-11-03 12:43] idlework commented on #93
+1

[2016-11-05 10:37] bileser opened #113 "cb is not a function"
Pulled the last react-native via npm, running on XCode 8.1. When changing the device orientation in the simulator there is an error in

`node_modules/react-native-orientation/index.js`

cd is not a function in this method:

[code]

Thx!

[2016-11-05 11:35] bileser commented on #113
Sorry, was my fault ,I promised the framework that there would be an orientation listener which was not the case. Seams this was the missing cb function ...

[2016-11-05 11:35] #113 closed

[2016-11-05 19:34] basequatro commented on #111
Same here but only after full reload of app.

[2016-11-09 13:33] cbcye opened #114 "Build Error on Android"
Environment: RN 0.35 & Android 5
Log:
MainApplication.java:47: error: constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
                    new OrientationPackage(),
                    ^
  required: Activity
  found: no arguments
  reason: actual and formal argument lists differ in length
1 error
:app:compileDebugJava FAILED

FAILURE: Build failed with a

[2016-11-09 14:16] lakhman opened #115 "Remove android.permission.BLUETOOTH from Manifest"
It seems this library is asking unnecessarily for Bluetooth permissions on android:

https://github.com/yamill/react-native-orientation/blob/master/android/src/main/AndroidManifest.xml#L4

Can we remove this?

As a workaround, for now, you can update the application manifest in your app with the following:

**android/app/src/main/AndroidManifest.xml**

[code]

Note: You need to add the `xmlns:tool

[2016-11-09 20:23] julesmoretti opened #116 "Cannot read property '...' of undefined"
* Added module using npm i...
* Linked file
* Checked cradle files and so on from the readme
* Can console.log Orientation in my componentdidmount() which returns all the functions

But when right bellow I try Orientation.unlockAllOrientations() or .getInitialOrientation() I get `Cannot read property '...' of undefined`...

What am I missing?

[code]

thank you.

[2016-11-12 08:24] hamidjafari commented on #3
i've use this code to get the correct height/width after rotation.

`onLayout(evt){`
`      var height = evt.nativeEvent.layout.height;  `
`      var width = evt.nativeEvent.layout.width;  `
` // do something with these values...`
`}`

[2016-11-13 14:30] nidorx commented on #114
@cbcye, the version on https://www.npmjs.com/package/react-native-orientation is wrong.

For now, change version on you ```package.json``` from ```"react-native-orientation": "^1.17.0"```  to ```"react-native-orientation": "yamill/react-native-orientation"```

@yamill, please, publish a new version on npm.

[2016-11-14 17:47] cobarx commented on #116
Try using the master branch of the project, add:
`"react-native-orientation": "git+https://github.com/yamill/react-native-orientation.git",`
to your package.json.

[2016-11-17 02:30] leechance commented on #114
Environment: RN 0.36 & Android 5

i meet the same error when complie android app @cbcye
did you solved the problem ??
@nidorx  can you give me some idea
@yamill, please, publish a new version on npm.

[2016-11-17 02:39] leechance commented on #91
`react-native link` at the home directory of your project

[2016-11-20 09:04] Venryx commented on #114
@yamill I'm getting the same issue as the two above.

Fixed it with @nidorx's solution, but would be nice to have the npm module updated, so the build instructions work out-of-the-box.

[2016-11-28 12:31] L-Jovi commented on #72
er..  does this smart project continually maintained?

[2016-11-29 01:40] nanandn opened #120 "Change orientation"
Hi

I have four screens in my app. I want to change the orientation for one of the screen to landscape. In componentDidMount I call lockToLandscape().

But I want to restore the orientation to default when I navigate to another screen. In componentWillUnmount I call unlockAllOrientations. But the orientation is not reset. Does unlockAllOrientations revert to the default? If not, how can I revert b

[2016-12-02 15:06] ItsNoHax commented on #120
Well it depends how you do your routing. Imagine you have the following screens:

HomePage -> EmailList -> EmailView

If you lockToPortrait on EmailList's componentDidMount and then open EmailView, the EmailList component stays mounted which means EmailView will also be locked to portrait.

My solution was to use a listener on the router component and then lock the portrait only when I focus on Em

[2016-12-02 18:53] larryranches opened #121 "Orientation lockToLandscape() defaults to landscape but allows back to portrait"
The Orientation Method lockToLandscape() method is **defaulting** the view to landscape but doesn't actually lock landscape or disable portrait. If I flip the orientation back to portrait, it **allows** it to switch back to portrait.

I would think that it would actually lock the view to landscape it will **disable** all other orientations. Does this library support this? Am I missing something?

[2016-12-05 01:51] testxin opened #123 "landscape mode status bar display incorrect"
![image](https://cloud.githubusercontent.com/assets/5926139/20871367/069214ee-bad0-11e6-8f2e-e1a8e04e3974.png)
just use lockToLandscape function  status bar display height   but the battery doesn't show  like follow pic
![image](https://cloud.githubusercontent.com/assets/5926139/20871390/3e2ca90a-bad0-11e6-85b2-f87b31d7f511.png)

[2016-12-05 05:43] eduardinni commented on #65
I confirm that the methods are swapped, looking at the native code looks is obvious there's a bug. I've opened a pull request #122

[2016-12-05 17:50] tooodooo opened #124 "How to manually set the orientation?"
How to manually set the orientation? I know IOS is OK with Swift or OC, I do not know whether Android can also be?

I am using a video player , I need manually set the orientation when the vertical screen, click the full screen button to force the horizontal screen.

[2016-12-05 18:17] annelorraineuy commented on #93
+1

[2016-12-05 21:27] codetony25 commented on #93
+1

[2016-12-06 15:48] ssomnoremac opened #125 "LockToPortrait not working RN37 iOS"
Everything works fine on Android with the latest RN-orientation. Could be an issue with RN37?

[2016-12-06 15:55] ssomnoremac commented on #125
Nevermind, didn't realize that configuration was not part of manual

[2016-12-06 15:55] #125 closed

[2016-12-07 19:34] larryranches commented on #121
@yamill any ideas on this?

[2016-12-08 04:17] aijason opened #126 "RN 0.36 err android"
Usage says, add this --> new OrientationPackage()
but, the compiler says:
错误: 无法将类 OrientationPackage中的构造器 OrientationPackage应用
到给定类型;
new OrientationPackage()
^
需要: Activity
找到: 没有参数
原因: 实际参数列表和形式参数列表长度不同
1 个错误
:app:compileDebugJavaWithJavac FAILED

已经解决，导入"react-native-orientation":‘0.17.0’ 改成 "react-native-orientation": "git+https://github.com/yamill/react-native-orientation",然后react-native lin

[2016-12-08 18:31] chetstone opened #127 "Orientation listener always reports PORTRAIT on Android"
I'm testing with a Samsung Galaxy S5. I've added an orientation listener in `index.android.js` as documented in the README. I have a console log in `_orientationDidChange` and whenever I rotate the phone the callback is fired, but it always prints out `PORTRAIT`.

I've gone through all the comments in issue #100 and believe I have MainActivity set up correctly according to the README, etc.

[2016-12-08 20:27] chetstone commented on #127
This was happening because my app was restarting on every rotation. See https://github.com/facebook/react-native/issues/2716#issuecomment-265844514. Adding the missing line to my `AndroidManifest.xml` fixed the issue.

[2016-12-08 20:27] #127 closed

[2016-12-09 06:31] YuanSyun commented on #95
Orientation.lockToLandscape();
 ↓  ↓  ↓ ↓  ↓  ↓ ↓  ↓  ↓ ↓  ↓  ↓ ↓  ↓   ↓  ↓  ↓
Orientation.lockToLandscape;

[2016-12-10 17:08] MrToph commented on #126
It looks like NPM is not using the latest version.
Try installing it directly from git with:
`npm install git+https://github.com/yamill/react-native-orientation.git --save`

[2016-12-10 21:53] MrToph opened #128 "Orientation works in Android Emulator but not on Phone"
The orientation changes work fine when I run it on the Android emulator, but when I test it on my phone the `Orientation.addOrientationListener(this._orientationDidChange);` never gets called. It's running Android 6.0.1.

I linked everything as written in the README and added the following to AndroidManifest.xml
[code]

Does anyone experience the same issues or got it working on a phone running An

[2016-12-11 12:00] klinkov commented on #126
Same issue

`:app:compileDebugJavaWithJavac/Users/shade/Downloads/react-native-swiper-master/examples/android/app/src/main/java/com/examples/MainApplication.java:29: error: constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
            new OrientationPackage(this),
            ^
  required: no arguments
  found: <anonymous ReactNativeHost>
  reason: actual

[2016-12-11 16:56] MrToph commented on #128
Portrait mode was enabled on the phone. After setting it to Auto-rotate in the settings, it works. :+1:

[2016-12-11 16:56] #128 closed

[2016-12-11 17:00] MrToph commented on #126
How do you call it in MainApplication.java?
It needs to be without arguments, like this:
[code]

[2016-12-11 17:23] klinkov commented on #126
Yeah but not working

[2016-12-12 13:56] robbiemoore opened #129 "Installation Issue: Duplicate Symbols"
Hi, I'm trying to get this installed but getting the following error after I add `libRCTOrientation.a` to `Linked Frameworks and Libraries`

`duplicate symbol _OBJC_CLASS_$_Orientation in:
    /Users/Robbie/Library/Developer/Xcode/DerivedData/voiceiqoauth-cvajnuzzntoezcgiajimusldnoym/Build/Products/Debug-iphonesimulator/react-native-orientation/libreact-native-orientation.a(Orientation.o)
    /Use

[2016-12-12 16:40] robbiemoore commented on #129
Solution: I added the libRCTOrientation.a inside the `RCTOrientation.xcodeproj` and that fixed it

[2016-12-12 16:40] #129 closed

[2016-12-13 10:06] KBepo commented on #114
@nidorx getting same error but couldn't fix it by changing that in package.json

[2016-12-14 07:27] 8088 commented on #129
I also encountered such a problem, but the solution is not the same as you.

remove libRCTOrientation.a add libreact-native-orientation.a into Build Phases.

[2016-12-14 08:06] xdimh commented on #126
@klinkov use latest version
npm install git+https://github.com/yamill/react-native-orientation.git --save
and
react-native link

[2016-12-14 16:46] cmmouritsen commented on #82
@HectorFL Have you been able to figure anything out with this?

[2016-12-14 22:15] klinkov commented on #126
@xdimh It's work! Thank you

[2016-12-14 23:17] klinkov commented on #116
Same issue with Android

[2016-12-15 08:41] budingts opened #130 "你应该把最新代码同步到npm上，你git上的比npm上要新"
你应该把最新代码同步到npm上，你git上的比npm上要新

[2016-12-15 14:12] kiszadr commented on #116
I have the same issue.

[2016-12-18 17:48] neegqi opened #131 "how to show STATUSBAR on land lockToLandscape"
like title

[2016-12-19 00:49] jerson opened #132 "undefined is not an object (evaluating 'n.hasOwnProperty')"
Error removingListener

http://crashes.to/s/0c3f1b64e22

[code]

[2016-12-20 12:59] asela-wijesinghe commented on #114
Same Here not fixed

[2016-12-23 09:22] sealskej opened #134 "Build failed after linking"
After installing and linking project using `rnpm install react-native-orientation` I'm getting following build error. My React Native version is `0.39.2`

[code]

[2016-12-24 14:45] vitkrv commented on #109
Hi, @Firfi. I have same problem. Did you fix it?

[2016-12-24 16:01] Firfi commented on #109
@vitkrv just use View onLayout

example:

[code]

[code]

[2016-12-24 17:43] vitkrv commented on #109
@Firfi, Thanks a lot.

Also, I'm trying to rotate window manually. But can't find properly solution.
Now I'm using `transform` style for the rotating a View. But it helps only for value `-90deg`. Have you any ides about this?

[2016-12-28 14:26] amallo commented on #116
Same issue on my iPhone 5C / iOS 10.0.2 (don't know if related to iOS version but I don't have this issue on my iPhone and my iPad)

[2016-12-30 05:55] jaggerwang opened #135 "How to only make the specific screen support orientation?"
### Problem
I want to make only the video player screen of my app support orientation. But when I turned on landscape in Xcode, everything works great except that I can't disable other screens from being orientation.

### Code
The video player screen
[code]

Other screens
[code]

### ENV
react-native: 0.39
react-native-orientation: 1.17.0
iOS: 10.2 on iPhone 5s
Android: not test

[2017-01-04 08:04] patricktresp opened #136 "Orientation.lockToPortrait() not locking view"
Hey,

i do want to lock certain views to portrait mode, but when calling
`Orientation.lockToPortrait();`

in any of the methods, it does not lock at all, landscape mode still changes view behaviour

i tried:
componentWillMount()
componentDidMount()

Any suggestions on that?

( the xcode Project allows "Portrait", "Landscape Left", "Landscape Right" , since i do have some views that i want to allow

[2017-01-04 08:52] williamlk commented on #135
i have the same problem, did you have solution?

[2017-01-04 14:36] lavarajallu opened #137 "PORTRAITUPSIDEDOWN is Not working"
I used this module, It is Working In All  Specifications Except PORTRAITUPSIDEDOWN.
Let me know how to fix this Find?

[2017-01-04 20:26] ardalann commented on #121
Related #136

[2017-01-05 04:18] jaggerwang commented on #135
@williamlk you can try this.

[code]

In the listener you should save the current orientation, and render ui along with the current orientation.

[2017-01-05 04:18] #135 closed

[2017-01-05 04:44] balmasich opened #139 "Update to react-native 0.40.0"
Please can you update to new react-native version?
https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-01-05 06:32] swaroopa94 opened #140 "In android returning only LANDSCAPE even my device is in portrait"
Hi,
I am using this module in my application.

In android the function

  _updateOrientation(or) {
   // alert("HI")
      this.setState({ or });

  }
is always returning LANDSCAPE only even my device is in portrait mode.
Due to this I am getting so many design issues Can anyone help me in solving this.

[2017-01-05 14:22] SheppardX opened #141 "<anonymous ReactNativeHost> cannot be converted to Activity"
i get an error when i compile in android

error: incompatible types: <anonymous ReactNativeHost> cannot be converted to Activity
            new OrientationPackage(this),

Note: Some messages have been simplified; recompile with -Xdiags:verbose to get full output
1 error
:app:compileDebugJavaWithJavac FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':

[2017-01-06 02:43] williamlk commented on #135
addSpecificOrientationListener() method did not invoke? Is code have any problems?

[2017-01-06 09:49] ng-hai commented on #141
Change "new OrientationPackage(this)" to "new OrientationPackage()".
It works for me.

[2017-01-06 10:40] SheppardX commented on #141
Then he says that the argumentslist is empty...

[2017-01-06 13:05] steveliles commented on #114
@KBepo and @asela-wijesinghe and anyone else still seeing the problem after applying @nidorx's solution: did you unlink the old version and re-link the new version?

The signature of the `OrientationPackage` constructor changed, but you have to re-link in order to update `MainApplication` correctly.

[2017-01-07 01:40] mickeyjc commented on #136
I have the same issue, Orientation.lockToPortrait() not locking at componentDidMount().
`Orientation.addOrientationListener(() => Orientation.lockToPortrait());` is a bit weird as it did rotate the screen then rotate it back to Landscape, not an ideal solution.

[2017-01-09 10:09] ng-hai commented on #141
Check this step :

// The docs say this
`Implement onConfigurationChanged method (in MainActivity.java)`

// And I do this
`Implement onConfigurationChanged method (in MainApplication.java)`

[2017-01-09 17:13] joncursi commented on #139
I am getting the following file not found error on RN 0.40.0:

<img width="634" alt="screen shot 2017-01-09 at 12 13 05 pm" src="https://cloud.githubusercontent.com/assets/4974609/21775685/0eba523e-d665-11e6-8d95-776cf4d5af7d.png">

[2017-01-09 18:27] SheppardX commented on #141
ah okay ... i will try

2017-01-09 11:09 GMT+01:00 Hai Nguyen <notifications@github.com>:

[2017-01-11 08:35] eli88p commented on #141
I have a same problem, i tried @ng-hai solution but it's not worked
my exception:
error: constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
                        new OrientationPackage(this)
                              ^
  required: Activity
  found: <anonymous ReactNativeHost>
  reason: actual argument <anonymous ReactNativeHost> cannot be converted t

[2017-01-12 06:17] 44326334 commented on #136
@mickeyjc  I have the same issue on android. Orientation.lockToPortrait() not working at componentDidMount(), and throw a error :`undefined is not an object(evaluating ‘Orientation.lockToportrait’)`
How do I modify the Configuration in android？

[2017-01-12 06:21] mickeyjc commented on #136
Follow the Android part of the `Configuration` section on the project README.md, it mentions to add extra two lines to the `MainActivity.java`

[2017-01-12 06:26] 44326334 opened #142 "Orientation.lockToPortrait() throw a error"
I was write it at componentDidMount(), but it throw a red error like this:
`undefined is not an object(evaluating ‘Orientation.lockToportrait’)`

[2017-01-12 10:02] 44326334 commented on #136
@mickeyjc thanks your reponse . It could running that I make a mistake for no import a few pakerage on `MainActivity.java`
now，it is still the same error， but when I use  the demo of  `..\node_modules\react-native-orientation\demo\index.android.js` running , throw the same error above.

[2017-01-12 13:10] jaggerwang opened #143 "Not working on Android."
### Problem
Not auto switch by rotating the phone, but Orientation.lockToLandscapeLeft is working. On iOS, it behaves great.

### Env
react-native: 0.39.2
react-native-orientation: newest from GitHub
platform: Android, iOS works great.

### Code

Component
[code]

AndroidManifest.xml
[code]

[2017-01-13 07:45] patricktresp commented on #136
I now got it running on ios. i somehow missed the "configure" section in this. sorry about that.

[2017-01-13 14:20] enessoylu commented on #143
same here +1

[2017-01-13 17:38] cooperka commented on #30
@yamill I'm also getting this issue. It looks like the fix was reverted... can you please explain why? https://github.com/yamill/react-native-orientation/pull/33

[2017-01-14 04:49] jaggerwang commented on #143
I found the reason, because I did not allow auto rotating in my Android phone's settings.

[2017-01-14 04:49] #143 closed

[2017-01-15 14:32] cherta commented on #141
Hi all I'm new to RN but I think I know why this is failing. [This commit](https://github.com/yamill/react-native-orientation/commit/a2d01060ca0e5aa8fe5c3dd4ad75c535bb519ec0#diff-1698f072ed1f5ada01105f9e4897f4daL18) changed the constructor but is not yet published to npm (`react-native-orientation@1.17.0`).

If you look into your node_modules folder you see the `OrientationPackage` with the old Ac

[2017-01-15 18:30] eli88p commented on #141
Thank you!  It's work!

[2017-01-17 11:32] jaggerwang opened #144 "Where is the owner? There are so many issues and pull requests."
Emergent call:)

[2017-01-18 02:55] jaggerwang opened #145 "lockToX not works on iOS."
### Problem

My app has a video player page, and I want to only enable orientation in this page. I tried many ways, but still can not achieve the goal. Here is my way.

1. Turn off Landscape orientation in Xcode. If not, all pages of app can be rotated.

2. In the video player page, set orientation listener and lock to the orientation according to the received event. When rotate the screen, the ap

[2017-01-21 02:43] ostigley commented on #142
I'm having a very similar issue on Android.
`Cannot read property of 'lockToLandscapeLeft' of undefined.`

[code]

putting in a console.log on Orientation produces:
[code]
so the object is clearly loaded, but the function call is failing

[2017-01-21 04:09] ostigley commented on #93
+1

[2017-01-22 23:13] schlaegerz commented on #139
I know this isn't really a good long term solution, and I don't know enough about the react build processes to do it right, but if anyone else is running into this problem and wants a quick fix, you can just remove the include line and replace it with this:

@interface Orientation : NSObject <RCTBridgeModule>
+ (void)setOrientation: (UIInterfaceOrientationMask)orientation;
+ (UIInterfaceOrientatio

[2017-01-26 07:53] puresamari commented on #142
Im also having the same issue as @ostigley

[2017-01-26 09:07] ostigley commented on #142
sup @puresamari .  I'm not sure @yamill has much free time to support this anymore.  But after doing some reading, I figured out you you can make it work with  the following:
[code]

and it worked.   Winner Winner Chicken Dinner

[2017-02-01 20:48] dozel opened #148 "Modal Presentation Crash"
When you lock the screen to portrait (or landscape), and you present something modally, the app crashes without any log. Does anyone know how to get around this? I tested this on iOS, not sure if it happens on Android.

[2017-02-01 21:02] dozel commented on #148
Just tested on Android, and it runs fine. Must be an iOS issue.

[2017-02-02 10:42] alizbazar commented on #56
Agree with @venk-aw . What most people care is InterfaceOrientation, i.e. how contents of the screen has to be adjusted to accommodate the new orientation that is being displayed (not the orientation that user happens to hold his device on).

Even if #78 was implemented, you'd still wouldn't know what to render - portrait or landscape - when getting FACEDOWN or FACEUP.

[2017-02-07 13:55] kadzier commented on #139
I believe the fix for this is a simple two line alteration in the import statements, as contained in this pull request:

https://github.com/yamill/react-native-orientation/pull/146/commits/6ee0ddb90ffb4fab4f09180330ee22edb28c1bad

This is following Facebook's direction in how to update third party modules for react native 40.0.

[2017-02-08 04:43] balmasich opened #151 "Rotation on IPad Pro, IPad Air 2 not working"

[2017-02-11 11:30] lavarajallu commented on #126
First Check it Once ........
just Change Package.JSON
give this
"react-native-orientation": "git+https://github.com/yamill/react-native-orientation.git"
After next You Will install:  npm install react-native-orientation --save
That's it....

[2017-02-13 05:35] lavarajallu opened #152 "When we are using landscape mode not working, to IOS device off the autorotation it's not working"
in device not showing landscape, when we are off the auto rotation in device,show an portrait.  actually to lock landscape and in x code i am putting landscape left   & and landscape right. But it's not working.

Any suggest plz

[2017-02-14 04:49] lavarajallu commented on #140
I didn't get your point

[2017-02-15 07:08] lavarajallu commented on #136
Yes I am not getting in IOS, but  fixed in android.

[2017-02-15 08:44] lavarajallu commented on #152
Finally i  solved my issue: just i add both two files in AppDelegate.m

[code]

[2017-02-15 08:49] lavarajallu commented on #121
just you have to try this:
in **AppDelegate.m**

[code]

[2017-02-16 11:56] jiteshwadia commented on #142
Tried both options,

1. import Orientation from 'react-native-orientation';
2. As suggested by @ostigley , var Orientation = require('react-native').NativeModules.Orientation

But still gives error `undefined is not an object(evaluating ‘Orientation.lockToportrait’)`

[2017-02-16 12:14] jiteshwadia commented on #91
Tried options suggested by, @tststs , @mjbader and @leechance.

@mjbader Can you let us know what is the exact path you entered in `Xcode->Header path`.
Mine is: `$(SRCROOT)/node_modules/react-native-orientation/iOS/RCTOrientation/`

@leechance  link is already done.

But xCode still gives file not found error.

[2017-02-16 17:47] mjbader commented on #91
@jiteshwadia MY header search path is
$(SRCROOT)/../node_modules/react-native-orientation/iOS/RCTOrientation

[2017-02-20 15:52] max-mykhailenko commented on #139
When you plan to approve one of PR about this issue?
https://github.com/yamill/react-native-orientation/pull/154
https://github.com/yamill/react-native-orientation/pull/153
https://github.com/yamill/react-native-orientation/pull/146

[2017-02-23 14:05] chrusart opened #156 "Should we clone the project and maintain? What happened to Yamill?"
What I can see (LinkedIn) Yamill started work for Snap inc. and from that time not maintaining the project.

[2017-02-23 18:18] GeoffreyPlitt commented on #121
@lavarajallu Is there a more general react-native-ish approach for this? Rather then deep editing of node-modules?

[2017-02-23 18:32] dozel commented on #156
I think we should. The issues are at 56 and counting.

[2017-02-25 10:08] cnshsliu commented on #156
Please, we should.

[2017-02-27 18:41] dozel commented on #156
Alright, who's down to clone the project and maintain it? Not sure if I can fix all of these issues, but I'm definitely down to help.

[2017-02-28 09:34] colinramsay commented on #156
The best way would be to get @yamill to transfer this project to a new owner or organisation because otherwise people will always continue to visit this (seemingly dead) repo.

[2017-02-28 16:15] dozel commented on #156
@colinramsay the whole reason why this thread was started because @yamill is AWOL.

[2017-02-28 16:17] colinramsay commented on #156
I realise that, but if we were to orchestrate a situation in which they just had to press a button to reassign ownership then they might be open to doing that. We'd be doing them a favour 😄

At the moment they may just be ignoring notifications but not totally uncontactable.

[2017-02-28 19:03] ibussieres commented on #156
yamill@gmail.com according to his website.

[2017-03-02 09:06] hugohow commented on #156
+1

[2017-03-02 09:08] colinramsay commented on #156
I'm emailing yamill now, will report back.

[2017-03-03 03:54] quangas commented on #142
You most likely don't have the latest version, when I did npm install, it didn't actually get the latest files (it downloaded the version that used OrientationPackage(this)), so I had the same error. The correct version should be OrientationPackage() in MainApplication.

Here's what I did to fix it and get it working.

Try to remove the react-native-orientation from your project with:

`npm remove

[2017-03-03 08:52] colinramsay commented on #156
I'm in contact, we're just working out how to move this forward but we should have the ability to accept PRs, etc in some form over the next couple of days.

If anyone is willing to dedicate some time to help triage issues and PRs, please let me know below.

The intention is _not_ for me to become full-time owner, but I might do so temporarily while we work out where this project can live.

[2017-03-06 12:32] colinramsay commented on #52
I can confirm what @ajoshdee says:

[code]

[2017-03-07 10:06] wellyshen opened #158 "Can't working on RN 0.42.0"
I installed this with RN 0.42.0, and tried to lock the screen as portrait by `Orientation.lockToPortrait();` in the `componentDidMount` function, but it seems didn't lock my screen as portrait, does anyone has this problem?

- I use iOS simulator
- I did the `react-native link` after `yarn add`

[2017-03-07 16:10] safweb89 commented on #158
did you face this error before ?
constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
             new OrientationPackage()
             ^
  required: Activity
  found: no arguments

[2017-03-07 17:12] mac2066 opened #159 "Inside the RN0.41, can't find RCTBridgeModule.h"
Inside the react-native, after installing this plugin, you can't find RCTBridgeModule.h at compile time
Need to
#import "RCTBridgeModule.h"
Modified into
#import <React/RCTBridgeModule.h>

[2017-03-07 18:28] ibussieres commented on #156
I'm on 0.42 and it's working.

[2017-03-07 18:29] colinramsay commented on #156
Guys please don't derail this issue, there are plenty of others related to RN 0.42 compatibility:

https://github.com/yamill/react-native-orientation/issues/158

[2017-03-08 02:55] wellyshen commented on #156
@ibussieres Did you use it for iOS simulator?

[2017-03-08 03:23] wellyshen commented on #158
@safweb89, I just use this library few days ago

[2017-03-08 19:03] ibussieres commented on #156
@wellyshen answering in #158

[2017-03-08 19:09] ibussieres commented on #158
I'm on RN 0.42. I left all orientations open in XCode settings.

In my entrypoint component I have :

      componentDidMount() {
        // Only a few specific views allor landscape and they are responsible
        // for unlocking and relocking the orientation
        Orientation.lockToPortrait();
      }

In a component that allows unlocking temporarily :

[code]

You'll see a trace in your rea

[2017-03-08 19:19] dozel commented on #156
@colinramsay hey, I'm willing to be a contributor and help fix issues. Did the transfer of ownership happen?

[2017-03-08 19:21] dozel commented on #158
@wellyshen Can you post some code?

Did you also check the manual linking process to make sure the auto-link didn't miss any steps?

[2017-03-09 03:02] wellyshen commented on #158
@dozel

What I did is :

- Install react-native-orientation through yarn
- Link it with xcode through `react-native link`
- Import it in my .js file with `import Orientation from 'react-native-orientation`
- Trying to lock my screen on portrait through
[code]

After all the settings, I run my iOS simulator and click `cmd + right` or `cmd + left`, the screen won't locked on landscape

[2017-03-09 04:20] wellyshen commented on #158
@dozel I have tried to set up the library with xCode manually, but it still not working.

[2017-03-09 10:01] colinramsay commented on #156
@dozel, that's great! The transfer hasn't been done yet, I've just sent Yamill a follow-up email.

[2017-03-10 19:41] wellingtonblessed commented on #141
@cherta Thanks, it works

[2017-03-11 06:23] manask88 commented on #156
i'm also willing to help some here, please let us know what happens. Ideally, he just transfers ownership and there is no need to fork this project

[2017-03-11 07:27] ng-hai commented on #141
close

[2017-03-12 07:58] joeyzhao0113 opened #160 "Can't read getInitialOrientation of undefined"
I am using `react-native 0.39.2` and `"react-native-orientation": "^1.17.0"`
My code looks like below. I will get `Can't read getInitialOrientation of undefined` error when executing this code. I have run `link` on this project.

[code]

[2017-03-12 08:44] joeyzhao0113 opened #161 "Compilation error on demo project"
I cloned this repo and tried to launch the demo project but got below error:

[code]

it seems like an compilation error.

My react-native version is `0.27.2`

[2017-03-13 10:50] colinramsay commented on #156
I still haven't received a reply to my followup. Although @yamill seemed open to the idea, if he doesn't actually perform the transfer then we'll just have to settle for running a fork.

[2017-03-14 00:11] gaboelnuevo commented on #156
npm package needs to be updated too.

[2017-03-14 12:54] le6o commented on #160
After running link you will need to rebuild the application, hot/live reloading will not pull in the newly linked native code.

[2017-03-15 06:07] joeyzhao0113 commented on #160
I already rebuild the whole thing but still got `undefined` error.

[2017-03-15 06:39] lifuzu commented on #161
+1

[2017-03-15 08:59] engin145 commented on #161
use in package.json `"react-native-orientation": "git+https://git@github.com/yamill/react-native-orientation.git",`

[2017-03-15 12:37] darleikroth commented on #159
Hi. This fix could cause problems at versions less than 0.41?

[2017-03-15 15:33] lifuzu commented on #126
"react-native-orientation": "github:yamill/react-native-orientation"
for short

[2017-03-16 08:33] jsdario commented on #148
It is happening for me, only in debug mode.

[2017-03-16 21:29] jevakallio commented on #139
@yamill can I do something help you land one of these PRs?

[2017-03-17 03:31] jurassix commented on #156
Why not just abandon this in favor of https://github.com/walmartlabs/react-native-orientation-listener

[2017-03-17 09:09] colinramsay commented on #156
It doesn’t currently support the ability to lock orientations.

On 17 Mar 2017, 03:31 +0000, Clint Ayres <notifications@github.com>, wrote:

[2017-03-17 09:51] matth3wga0 commented on #159
This snippet should be work.
[code]

[2017-03-17 18:16] NickKotowski commented on #93
+1

[2017-03-19 02:59] joeyzhao0113 commented on #161
I tried to change it in package.json file and run `npm install`. But still got the same error when run `react-native run-android`.

[2017-03-19 04:32] jenkynolasco11 commented on #161
Same here. Followed the instructions automatically and manually, and I'm getting the same error:

[code]

[2017-03-19 20:27] jenkynolasco11 commented on #161
So, I solved my problem by copying the files directly from the repository.

If you guys copied the files via npm or any other package manager, do what I did and everything will compile fine.

[2017-03-19 22:20] joeyzhao0113 commented on #161
@jenkynolasco11 Could you let me know what files did you copy to and from? Thanks.

[2017-03-20 00:03] jenkynolasco11 commented on #161
@joeyzhao0113 I copied this whole repo into my node_modules and it worked perfectly. The version of RN I'm using is ``0.42``.

[2017-03-20 06:02] joeyzhao0113 commented on #161
I just tried but still the same error. Why doesn't `npm install` work?

[2017-03-20 12:20] rook2pawn commented on #156
@colinramsay It does. I'm using react-native 0.42.3 in my package whilst running the github react-native cli command set (v1000) for react-native run-android / react-native start

i can lock to portrait and lock to landscape.

[2017-03-20 12:22] colinramsay commented on #156
@rook2pawn, I was talking about `walmartlabs/react-native-orientation-listener`. It only has three API methods and none of those indicate that they can lock orientation. The documentation for it doesn't show that it's possible either.

[2017-03-21 02:48] soutot commented on #145
@jaggerwang were you be able to solve it?

[2017-03-21 12:28] lavarajallu commented on #126
Did you follow above Steps?

[2017-03-21 14:20] loehnertz commented on #93
+1

[2017-03-21 15:31] soutot commented on #158
any solution for this?

[2017-03-21 15:37] soutot commented on #136
I followed the linking and configuring steps but I couldn't get it to work on iOS (didn't test in Android).
When I use toLockPortrait() or toLockLandscape() the screen starts at correct orientation, but if I rotate the device or cmd+left/cmd+right in the simulator the orientation changes, it's not really being locked.

Any suggestions?

[2017-03-21 15:43] soutot commented on #121
@lavarajallu I tried this but still not working. Any suggestions?

Here's my AppDelegate.m:

`#import "AppDelegate.h"

#import <React/RCTBundleURLProvider.h>
#import <React/RCTRootView.h>

#import "../../node_modules/react-native-orientation/iOS/RCTOrientation/Orientation.h"

@implementation AppDelegate

- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *

[2017-03-21 17:47] yamill opened #162 "Maintaining React Native Orientation"
Hi all,

Sorry that I haven't been able to keep this project up-to-date. I've been so busy with work. Luckily I had @jevakallio reach out and offered to help keep this repo alive. If anyone else would like to become a collaborator please let me know in this thread below. I think it be good to have another dev who is passionate about this project.

Cheers!
Yamill

[2017-03-21 17:49] jevakallio commented on #162
Thanks on all your great work on this project @yamill. Ironically, I'm a bit slammed for a few days now, but will get to reviewing issues and pull requests shortly.

Another maintainer, especially one with deep Android experience, would be much appreciated!

[2017-03-22 12:16] simonvaucher commented on #162
Good news!
It's of utter importance to keep this repo alive.
I'd like to help, alas my Android experience is not-that-deep.

[2017-03-23 14:25] Matus-Stastny commented on #93
+1

[2017-03-24 05:44] vokhuyet commented on #158
i have same issue

[2017-03-24 14:00] ibussieres commented on #158
I just tested again and it is working as requested on my side. Maybe post to stack overflow ?

[2017-03-24 14:38] soutot commented on #158
@ibussieres when you set ```Orientation.lockToPortrait()``` it indeed gets locked (if user rotate the device,nothing changes) or it just changes the orientarion to portrait and user can eotate it back to landscape? Because this had been my scenario, the function just rotate but doesn't lock.
If everything is working fine for you, would you mind share your AppDelegate? Thanks

[2017-03-24 16:58] navratill opened #163 "cocoapods + swift"
Hello,

when I am installing react-native-orientation with cocoapods (I am using use_frameworks!) into swift project, there I can't use it.

Is there some way how to make it work? When I have "import react_native_orientation" it says "Could not build Objective-c module" because RCTBridgeModule in Orientation.h is not found (React is also as a cocoapod dependency)

Thank you

[2017-03-24 17:03] navratill commented on #163
okay, this PRs are solving it(linked down): https://github.com/yamill/react-native-orientation/issues/139

when it will be merged?

[2017-03-25 03:42] nhuthan commented on #161
same error

[2017-03-25 12:24] zhiyong888 commented on #141
I tried to change "react-native-orientation": git+https://git@github.com/yamill/react-native-orientation.git"
but still not working.../Users/luca/workspace/pillsy/android/app/src/main/java/com/pillsy/MainApplication.java:27: error: constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
            new OrientationPackage(this)
            ^
  required: no argum

[2017-03-25 12:26] zhiyong888 commented on #96
I tried to change "react-native-orientation": git+https://git@github.com/yamill/react-native-orientation.git"
but still not working.../Users/luca/workspace/pillsy/android/app/src/main/java/com/pillsy/MainApplication.java:27: error: constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
new OrientationPackage(this)
^
required: no arguments
found:
reason: actual

[2017-03-25 12:26] zhiyong888 commented on #126
I tried to change "react-native-orientation": git+https://git@github.com/yamill/react-native-orientation.git"
but still not working.../Users/luca/workspace/pillsy/android/app/src/main/java/com/pillsy/MainApplication.java:27: error: constructor OrientationPackage in class OrientationPackage cannot be applied to given types;
new OrientationPackage(this)
^
required: no arguments
found:
reason: actual

[2017-03-25 12:28] cherta commented on #141
Hi, @zhiyong888! Try removing `node_modules` and executing `yarn` again, maybe that helps.

[2017-03-25 12:30] zhiyong888 commented on #141
Hi @cherta , I already tried to remove `node_modules` and executed `npm install`. but still not working...

[2017-03-25 12:33] cherta commented on #141
If you check the [code on the master branch](https://github.com/yamill/react-native-orientation/blob/master/android/src/main/java/com/github/yamill/orientation/OrientationPackage.java#L15), the constructor that complains about the argument is in the correct shape. Try looking at your `node_modules` version of the same file to see if it's the same, or it's still downloading the npm published versio

[2017-03-25 12:37] zhiyong888 commented on #141
`package com.github.yamill.orientation;

import com.facebook.react.ReactPackage;
import com.facebook.react.bridge.JavaScriptModule;
import com.facebook.react.bridge.NativeModule;
import com.facebook.react.bridge.ReactApplicationContext;
import com.facebook.react.uimanager.ViewManager;

import java.util.Arrays;
import java.util.Collections;
import java.util.List;

public class OrientationPackage im

[2017-03-25 12:39] cherta commented on #141
weird indeed. Try `react-native link` I don't think it helps but who knows

[2017-03-25 12:43] zhiyong888 commented on #141
I already tried `react-native link` and linked successful. but still not working...

[2017-03-25 12:44] cherta commented on #141
Well, my friend, I'm out of ideas at this point :(

[2017-03-27 01:43] neilzhengzx commented on #161
same error

[2017-03-27 01:44] zhaoyi0113 commented on #161
It seems that this project is not working with the latest version of react-native.

[2017-03-27 08:20] loehnertz commented on #161
Removing the whole directory in 'npm_modules' adding the Git-Version to package.json and then doing 'npm install' again fixed it for me without a problem!

[2017-03-27 18:42] manask88 commented on #162
I can help out here!!. I'm using this library and I had to fork it to be able to keep using in with RN 0.40 in iOS

[2017-03-27 18:49] ibussieres commented on #158
When I set `Orientation.lockToPortrait()` and turn the phone to landscape, nothing moves. Elements are still displayed as if the phone was in portrait.

[2017-03-28 22:51] schlaegerz commented on #136
I was just playing with this, it appears if you add any listeners with:
Orientation.addOrientationListener

It unlocks all the orientations

[2017-03-29 17:43] soutot commented on #136
I still couldn't get it to work. I created this repo to show a simple example of my situation: https://github.com/soutot/react-native-orientation-test

Any suggestions?

Thanks in advance

[2017-03-29 17:52] lavarajallu commented on #136
this method call in componentWillMount

On Mar 29, 2017 11:13 PM, "Tiago Souto" <notifications@github.com> wrote:

[2017-03-29 17:56] soutot commented on #136
@lavarajallu I changed it, but it's still not locking

[2017-03-29 17:59] lavarajallu commented on #136
I will  give on some code after 10hrs okay

On Mar 29, 2017 11:26 PM, "Tiago Souto" <notifications@github.com> wrote:

[2017-03-30 07:16] lavarajallu commented on #136
Dear Tiago Souto,

*var Orientation = require('react-native-orientation');*
* follow this  when you want change or lock to portrait*

*componentWillMount(){  if(this.props.sportName == 'Pro Football'){
Orientation.lockToLandscape();    this.setState({      HEIGHT:375,
WIDTH:667                })  }  else{   Orientation.lockToPortrait();
}  }  _orientationDidChange(orientation) {    if (orientation

[2017-03-30 09:25] soutot commented on #136
@lavarajallu I really appreciate your effort. I tried to run the following code and still getting the same scenario: the screen loads as landscape but when I rotate it (cmd + left), the whole content turns to portrait view.

[code]

My package.json:
[code]
I also tried with RN 39, no success.

Here's the demo:
![Demo](https://media.giphy.com/media/3ohzdWNLisnewKgAkU/giphy.gif)

Would you mind tryi

[2017-03-30 09:28] soutot commented on #158
@ibussieres I still can't have the orientation lock working. I have given more information in this issue: https://github.com/yamill/react-native-orientation/issues/136#issuecomment-290323551

Would you mind take a look at it, please?

Thanks

[2017-03-30 17:04] soutot commented on #136
Hey,
Thank you everyone for the help! After an observation of @ibussieresI found that there was an error of ```RCTBridgeModule.h' file not found```
I replaced it the import to this ```#import <React/RCTBridgeModule.h>``` and it seems to be working now!

Thank you very much!

[2017-03-30 20:04] ibussieres commented on #136
Glad you got it working. You, should close the issue. Cheers !

[2017-03-31 19:46] gaguirre commented on #162
@jevakallio Great! I can help with Android ;)
I think a good first step could be making this module compatible with the latest RN version.

[2017-04-03 13:10] jaggerwang commented on #145
@soutot sorry, I'm not familiar with native iOS developing.

[2017-04-04 21:26] larryranches commented on #136
@soutot Is this still working for you? I want to actually lock to Portrait ```Orientation.lockToPortrait()``` but it's still allowing to go landscape. Is this scenario doing the same for you? If not, how did you get it to work?

Thanks!

[2017-04-05 06:26] soutot commented on #136
@larryranches Yes, it's working fine here. After ```npm install``` I opened this file ```node_modules/react-native-orientation/iOS/Orientation.h``` and replaced the import to ```#import <React/RCTBridgeModule.h>``` since it's the new syntax of RN. After this it worked perfectly here.
I created a repo with a simple example. Try cloning it and check if it works for you. If you have any issue, I'll t

[2017-04-05 17:54] andrerfneves commented on #162
@yamill can we try and work something out here?

[2017-04-05 21:02] derekgreenberg commented on #137
Make sure that 'Upside Down' is checked under General -> Deployment Info -> Device Orientation in Xcode.

[2017-04-06 14:15] jevakallio commented on #162
@andrerfneves I know it's highly ironic that I asked for the maintainer bit, and then haven't done anything with it. Life comes at you fast sometimes.

@andrerfneves what are the most crucial issues (besides the 0.40+ iOS bump) that you think need attention?

[2017-04-06 14:58] andrerfneves commented on #162
@jevakallio I completely understand. Just wanting to know if I should fork the repo and add the +0.40 update to the package or if it is going to be done anytime soon. I saw the multiple chats regarding the availability of the maintainer so figured I'd ask if positions were taking?

My most crucial issue is that it doesn't work with RN 0.42 Android, which is the current system I'm in. Is there anyt

[2017-04-06 15:00] jevakallio commented on #162
I'm just now looking to understand what is the best way to do the upgrade with respect to maintaining backwards compatibility, which docs needs to be updated etc. None of the open pull requests seem to take into account the upgrade path.

Is there an open issue or PR for the Android problem @andrerfneves?

[2017-04-06 15:23] andrerfneves commented on #162
@jevakallio I mistakenly assumed the 0.40 import changes affected Android as well. I was however able to get it working with the `master` branch on the git repo instead of on npmjs thanks to some other comments.

I am however willing to work on this / docs / code to get the 0.40+ code shipped and new upgrade docs going. Let me know if that's something you want me to look into.

Cheers!

[2017-04-07 04:57] manask88 commented on #162
@jevakallio right now I think the most pressing issue we should try to fix is support rn >0.40. I myself needed it urgently and had to merge this library. I am willing to help here. I have both iOS and Android experience

[2017-04-07 06:14] denny64 opened #164 "Why is the podfile installing React 11?"
[code]

[2017-04-07 18:15] timCF commented on #136
for me, after these fixes `Orientation.lockToLandscape()` works fine, but `Orientation.lockToPortrait()` still is not working...

[2017-04-07 20:15] soutot commented on #136
@timCF that's odd. If landscape works portrait should works as well. I guess it might be something regarding your setup.
Try cloning my repo and setting up the lib. Check if it works for you.

[2017-04-14 11:09] danilvalov commented on #142
Just fork this repository and use `npm install yourgitlogin/react-native-orientation`. It works for me.

[2017-04-14 20:42] muratozgul commented on #162
When should we expect the rn >0.40 fix (published to npm)?

[2017-04-15 13:57] danilvalov commented on #136
@soutot
Thank you for your solution! It works for me!

[2017-04-15 13:58] danilvalov commented on #134
You can use the following solution: https://github.com/yamill/react-native-orientation/issues/136#issuecomment-290476178
It works for me.

[2017-04-17 07:43] cxjpxl commented on #163
requrie is ok

[2017-04-17 19:48] saidmoya12 commented on #124
That is easy!

From js code you put on event

Orientation.lockToLandscapeLeft();
Orientation.lockToLandscapeRight();

or
Orientation.lockToLandscape();

When you close fullsize
Orientation.unlockAllOrientations();

[2017-04-17 19:53] saidmoya12 commented on #52
Use Orientation.unlockAllOrientations() instance of setState.

React component state only work for mountent components

if problem persist use
[code]

[2017-04-17 20:01] saidmoya12 commented on #162
Is possible create a tag for <= 0.39 react native compatible?

@jevakallio and @yamill I can help you a bit?

[2017-04-17 23:33] chris-at-translate commented on #164
This library is abandoned long ago, would not recommend to use.

[2017-04-19 11:32] stoneman1 commented on #162
#165 Should work out of the box with old syntax and new

[2017-04-19 19:03] aqnaruto opened #166 "build error"
![image](https://cloud.githubusercontent.com/assets/9067159/25197276/1d4ae812-2576-11e7-83c7-3ca68807a6d9.png)
see this picture ,you changed construt method,but , there is no parameter in mainApplication

[2017-04-19 19:23] aqnaruto commented on #161
@zhaoyi0113 same issue ,do you figure it out?

[2017-04-19 19:39] aqnaruto commented on #161
@jenkynolasco11 are you sure current react-native-orientation is work?

i saw this file 's construct method is still different from in MainApplication 's call method

[2017-04-19 20:46] aqnaruto commented on #126
@lavarajallu i followed all step ,but

`:app:preDexDebug UP-TO-DATE
:app:dexDebug
Unknown source file : UNEXPECTED TOP-LEVEL EXCEPTION:
Unknown source file : com.android.dex.DexException: Multiple dex files define Lcom/github/yamill/orientation/OrientationModule$1;
Unknown source file :   at com.android.dx.merge.DexMerger.readSortableTypes(DexMerger.java:596)
Unknown source file :   at com.android

[2017-04-20 05:19] aqnaruto commented on #166
i changed version into  1.70,but
![image](https://cloud.githubusercontent.com/assets/9067159/25214781/eb5fc77c-25cb-11e7-9cdf-0eb73c15f217.png)

[2017-04-20 05:23] chenyin8888 commented on #166
mark

[2017-04-20 09:08] aqnaruto commented on #126
i solved my problem，and forked and writed solution,https://github.com/aqnaruto/react-native-orientation/blob/master/README.md

[2017-04-20 09:08] aqnaruto commented on #166
i solved my problem，and forked and writed solution,https://github.com/aqnaruto/react-native-orientation/blob/master/README.md

[2017-04-20 09:08] #166 closed

[2017-04-24 07:16] jalieven commented on #159
+1 for merging this trivial solution into master

[2017-04-24 10:45] swaroopa94 opened #167 "In iOS if I turn auto rotate to on then my entire app is rotating even I restricted to portrait"
Hi,

For my app I allowed only portrait mode in xcode.
But when I adding the following code in appdelegatre.m file then when I turn my devie to landscape then my app also is rotating in landscape mode only.
[code]

If I remove the line then its in portarit only but the Orientation.lockToLandscape() is not supporting
Can you tell how to solve this.

Thanks

[2017-04-25 15:39] drvidal92 commented on #141
I solved the problem using all answers together:

1: `react-native start`
2: replace content of react-native-orientation with `"git+https://git@github.com/yamill/react-native-orientation.git"` in package.json
3: `react-native upgrade`
4: `react-native link`
5: `react-native run-android` with genymotion opened

Hope it helps, this is my first answer.

[2017-04-27 23:45] annelorraineuy commented on #158
@safweb89 I'm getting the same error as you upon compile too. Did you get to solve the issue?

[2017-04-28 06:26] swaroopa94 commented on #68
Hey Why you closed the issue did you solve it
Can you tell me how did you solve it

[2017-05-01 03:26] mayaa6 commented on #132
Save problem

[2017-05-01 03:29] mayaa6 commented on #160
save problem

[2017-05-02 21:31] pess0a commented on #156
@colinramsay what about @yamill ?
some fork anywhere?

[2017-05-02 22:45] fackius commented on #80
Hi, I am having the same issue,

The problem is that they are using the callbacks as keys.
So when there are multiple components with the same callback function (the key), the DeviceEventEmitter listener references are overwritten on the same key.

This is the function where they add the listeners
[code]

For example, with the next component

[code]

If I create three instances of this component,

[2017-05-03 08:34] colinramsay commented on #156
I didn't hear anything from @yamill about transferring the project, then this happened:

https://github.com/yamill/react-native-orientation/issues/162

But it seems like there haven't been any new commits since then so still nothing has happened. We have our own private fork.

[2017-05-03 09:33] Lizhooh commented on #158
`npm install --save react-native-orientation` will fail

`npm install --save react-native-orientation@https://github.com/yamill/react-native-orientation.git` succeeded

I don't think the author has updated NPM

[2017-05-03 14:21] Lizhooh opened #169 "[About] Error: > new OrientationPackage(this) ^"
### Error

[code]

or

[code]

### will fail
[code]

### succeeded
[code]

### test
Android
[code]

[2017-05-03 14:22] Lizhooh commented on #169
The author did not update **NPM**

[2017-05-03 14:26] Lizhooh commented on #130
@budingts 其实作者不维护这个项目了。

[2017-05-03 15:20] wellyshen commented on #158
@Lizhooh Can it work in 0.44.0?

[2017-05-03 16:08] emik opened #170 "No open source license"
I would like to use this but sadly it is unlicensed.

[2017-05-03 22:53] yamill commented on #162
@gaguirre
@colinramsay
@saidmoya12
@andrerfneves
@simonvaucher

Great to hear that all of you would like to help! Are all of you still willing to become contributors?  Please let me know and would be glad to give access to those who **really** can keep this repo alive. I'd like to keep the access at a minimum.

[2017-05-03 23:09] andrerfneves commented on #162
@yamill count me in

[2017-05-03 23:42] andrerfneves commented on #170
We're in the process of figuring out the maintainers situation in this project. A license file/format will be added soon @emik.

[2017-05-03 23:44] andrerfneves commented on #162
Will definitely start by cleaning up all of these issues!

[2017-05-03 23:49] manask88 commented on #162
@yamill i'm still willing to become a contributor as well. I'm actively using this library, so it's in my best interest to keep this fully functional!

[2017-05-04 03:45] Adar-Li commented on #169
如何解决呢？我按照你succeeded方法试了 还是不行

[2017-05-04 06:58] stoneman1 commented on #162
@yamill Yes I am in and I can really keep the repo alive.

[2017-05-04 07:26] colinramsay commented on #162
@yamill yes, I can certainly help with issue triage if nothing else. Thanks for the response!

[2017-05-04 07:50] Lizhooh commented on #158
@wellyshen `0.43.4 ok, 0.44.0 hasn't tried yet`

[2017-05-04 13:26] gaguirre commented on #162
@yamill I can help with Android ;)

[2017-05-04 14:38] andrerfneves commented on #162
I think amongst @gaguirre, @colinramsay, @stoneman1 and I we have a solid React Native/Android/iOS team to bring this package back to full compatibility with RN and start an initiative to resolve all outstanding issues. @yamill ultimately it's your decision (as to who and how many contributors) but would love if we can get this sorted out sooner rather than later. Cheers!

[2017-05-05 05:09] truongluong1314 commented on #169
I solved this by passing "MainActivity.this" instead of "this" only

[2017-05-07 00:02] Joe312341 commented on #158
Using `react native 0.44.0`
running `react-native link` after installing the package works as expected

[2017-05-07 13:42] wellyshen commented on #158
@Joe312341 How did you install the library? Through `npm install --save react-native-orientation@https://github.com/yamill/react-native-orientation.git` or `npm install --save react-native-orientation`?

[2017-05-07 13:43] Joe312341 commented on #158
`npm install --save react-native-orientation`

[2017-05-07 13:45] wellyshen commented on #162
Does the maintain kick off?

[2017-05-07 13:46] wellyshen commented on #158
@Joe312341 Could you mind to share your setup steps?

[2017-05-07 13:47] andrerfneves commented on #162
@wellyshen still waiting to hear from @yamill to actually close this. We need him to grant us `Contributor` access to the repo. It shouldn't take more than 2 minutes. This man must be super busy! I'm all set to start fixing these issues.

[2017-05-08 01:09] xilonxiao commented on #160
I'm having the same problem, but only on ios. My android version works fine.

[2017-05-08 01:30] Joe312341 commented on #158
I tested it with a fresh App on IOS

[2017-05-08 12:13] zhuyifan2013 opened #171 "LockToLandscapeLeft not work"
When your device orientation is LandscapeLeft , then the `LockToLandScapeLeft` has no work for interface orientation when  your interface orientation is Portrait.

[2017-05-08 14:34] andrerfneves commented on #162
Hey @yamill, you around to work this out today by any chance?

[2017-05-08 20:26] annelorraineuy commented on #158
I solved my issue for Android. After running `npm link` the `new OrientationPackage()` was added twice on MainApplication.java. This package works for me on RN 0.43.4.

[2017-05-10 11:25] darrenfurr commented on #158
I'm running RN 0.42 & tried both npm & the git repo - doesn't work. However, this does.
[code]

[2017-05-11 09:06] truongluong1314 commented on #156
Hi @colinramsay , can you please let me know if @yamill allow you to clone the project for maintenance purpose? Thank you!

[2017-05-14 11:42] loehnertz commented on #148
This same error is still existent for me in v0.42.2.
We're you able to fix it in any way?

[2017-05-15 08:35] aqnaruto commented on #162
did this support rn>4.0 yet?

[2017-05-15 12:03] stoneman1 commented on #162
@aqnaruto There is some forks out. Mine fork works at least

[2017-05-15 12:04] aqnaruto commented on #162
great!,thanks , i love you @stoneman1

[2017-05-15 19:57] jasongaare commented on #151
@balmasich had the same issue, checkout the answer in this thread https://forums.developer.apple.com/thread/21432

[2017-05-16 12:51] balmasich commented on #151
@jasongaare thanks

[2017-05-16 12:52] #151 closed

[2017-05-16 15:11] sospedra opened #173 "Why Bluetooth permission?"
Exactly here: https://github.com/yamill/react-native-orientation/blob/278291739e2b7c8ab208fdf404e4b139e24b4a3f/android/src/main/AndroidManifest.xml#L4

I cannot see where is this being used

[2017-05-18 13:09] bharath-kamath commented on #160
@joeyzhao0113  @mayaa6  did you guys manage to fix this?

[2017-05-18 14:42] bharath-kamath commented on #116
@klinkov Were you able to get to the bottom of it?

[2017-05-19 01:08] mayaa6 commented on #160
not yet.

On Thu, May 18, 2017 at 9:09 PM, bharath-kamath <notifications@github.com>
wrote:

[2017-05-19 01:39] joeyzhao0113 commented on #160
I don’t have plan on that.

[2017-05-20 03:27] yamill commented on #162
Added @andrerfneves @gaguirre @colinramsay @stoneman1 as contributors :)

[2017-05-20 03:32] andrerfneves commented on #162
@yamill thanks my man. I'll take a look throughout this week and arrange with these guys to get the ball rolling.

[2017-05-20 03:32] #162 closed

[2017-05-20 03:48] andrerfneves commented on #170
Resolved with 5fe9db03d813490cc40db50b92b9ab73986c5e9b. Will be published on next version.

[2017-05-20 03:48] #170 closed

[2017-05-20 03:55] andrerfneves opened #174 "Road to 2.0"
Hey all. I understand a lot of us rely on this package to deal with orientation-specific capabilities within our React Native apps, that includes me. Along with a couple of other maintainers, we're going to do a triage of the PRs and the Issues at hand in the repo and make a plan accordingly. Please bear with us as we bring this repo up back up to speed.

Please help us identify the major pain poi

[2017-05-20 08:49] colinramsay commented on #174
re: point 1, there are at least seven PRs open to solve this. The latest is from 5 days ago (#172), so maybe we just pick that one and close the others.

#138 is designed to fix the Bluetooth issue.

What's the branching & release strategy to follow? Maybe just push a quick 2.0 and decide after.

[2017-05-20 13:37] andrerfneves commented on #174
@colinramsay I say we round out all the PRs that need to get merged / tested, merge those/close the others and then release a 2.0. We should release the 2.0 when the major points are addressed.

In regards to #172, that would cause the package to not be backwards compatible, so maybe #165 is a better choice. I also have to test #138 as I'm not sure what the deal with Bluetooth Permissions are. Hav

[2017-05-20 13:47] andrerfneves commented on #159
@jalieven it's been merged with latest PR 5a16ac8a3f96e12969d86a1dd1f6d548efc213b2. Closing this for now. Let me know if anyone faces further issues.

[2017-05-20 13:47] #159 closed

[2017-05-20 14:06] andrerfneves commented on #156
Maintainers are in and we're starting the ramp up on the package. Bear with us.

[2017-05-20 14:06] #156 closed

[2017-05-20 14:06] #144 closed

[2017-05-20 14:07] andrerfneves commented on #139
5a16ac8a3f96e12969d86a1dd1f6d548efc213b2 was merged. Should resolve RN 0.40 + issues.

[2017-05-20 14:07] #139 closed

[2017-05-20 14:12] andrerfneves commented on #173
PR #138 is being reviewed and should resolve this issue.

[2017-05-20 14:22] andrerfneves commented on #161
We're in the midst of updating and ramping up development in this project. Hoping these incoming fixes will resolve the outstanding issues in this thread.

[2017-05-20 14:25] aqnaruto commented on #161
thank you ,it is surpport rn>4.2 ,right?

[2017-05-20 14:26] sospedra commented on #173
Cool

[2017-05-20 14:26] #173 closed

[2017-05-20 14:29] andrerfneves commented on #161
@aqnaruto yes, the package does work with RN 0.40+. Check 5a16ac8a3f96e12969d86a1dd1f6d548efc213b2 commit to see the changes.

[2017-05-20 14:31] aqnaruto commented on #161
thank you ,nice work!  handsome!@andrerfneves

[2017-05-20 14:33] #161 closed

[2017-05-20 14:36] andrerfneves commented on #110
We're working to ramp up maintenance for this project. Will work with @yamill to get RN Orientation 2.0 published to NPM as soon as possible/released. Cheers.

[2017-05-20 14:36] #110 closed

[2017-05-20 14:39] andrerfneves commented on #93
2.0 version of this will be published to NPM as soon as it's release-ready. Please follow the updates through on #174.

[2017-05-20 14:39] #93 closed

[2017-05-20 14:42] #48 closed

[2017-05-20 14:44] andrerfneves commented on #169
Current version of the package on NPM does not work. We are working to publish a new version as soon as we fix all outstanding issues that have been lingering in this repo.

[2017-05-20 14:44] #169 closed

[2017-05-20 16:53] jalieven commented on #159
Nice. Thx!

[2017-05-20 18:18] andrerfneves commented on #148
@dozel, @loehnertz or @jsdario could you provide an example source code I could take a look?

[2017-05-20 18:19] andrerfneves commented on #137
Closing this since it's been idle for a while. Checking the Device Orientation on XCode should resolve your issue. Willing to reopen this if anyone's got the same issue.

[2017-05-20 18:19] #137 closed

[2017-05-20 18:22] andrerfneves commented on #126
Updated version of React Native Orientation package is not published to NPM yet. Working with project owner regarding deployment. Please use the `git+https://github.com/yamill/react-native-orientation.git` in your package.json file to get the latest updates on `master` branch.

[2017-05-20 18:22] #126 closed

[2017-05-20 18:24] andrerfneves commented on #134
This doesn't happen on a new install with the `master` branch version of this package. Let me know if the issue persists. You should use `react-native link react-native-orientation` instead of `rnpm`. RNPM was merged internally to React Native but I'm assuming the two tools have diverged a bit since the merge, so that could cause some issues. Please open a new ticket if the issue persists with a n

[2017-05-20 18:24] #134 closed

[2017-05-20 18:25] andrerfneves commented on #130
English please.

[2017-05-20 18:29] andrerfneves commented on #26
You can achieve this by manually locking/unlocking the view.

[2017-05-20 18:29] #26 closed

[2017-05-20 18:31] andrerfneves commented on #140
@swaroopa94 could you provide more details / example / source code that we can take a look to try and determine what's going on?

[2017-05-20 18:45] andrerfneves commented on #141
Closing this as there have been updates to `master` which fix this.

[2017-05-20 18:45] #141 closed

[2017-05-20 19:15] loehnertz commented on #148
@andrerfneves
With your merge commit 5a16ac8 today I was able to fix a whole lot of other bugs including this one!
I might not be able to speak for the other guys but now it gave me an error like this:
[code]

And that indeed helped, I had a View that had `width` together with `flex`. It's fine now with `flexGrow`. No problem on Android but a big one on iOS as it seems - but that whole error has o

[2017-05-20 19:27] andrerfneves commented on #148
@loehnertz 👍 glad it all works out. Let me know if you face any other issues. Closing this since bug wasn't related to package as pointed out by [comment](https://github.com/yamill/react-native-orientation/issues/148#issuecomment-302892986).

[2017-05-20 19:27] #148 closed

[2017-05-21 16:14] andfs commented on #142
@danilvalov could you explain me why did it work?

[2017-05-21 19:35] andrerfneves commented on #142
@andfs the current version of the React Native Orientation package in NPM is not up to date. For now, just fetch the code directly from the repo like `npm install --save react-native-orientation@git+https://github.com/yamill/react-native-orientation.git`. The current version at `master` should have `lockToPortrait()` working on Android and iOS granted native linking/installing is correct. If error

[2017-05-21 19:35] #142 closed

[2017-05-21 22:13] andrerfneves commented on #171
@zhuyifan2013 not entirely sure what you mean here. Could you provide an example/gif?

[2017-05-22 08:15] stoneman1 commented on #174
@andrerfneves I think your way to go is the correct. Only allow through PR to master and work off from develop. You can take care of the releases/changelog if you have the time 👍

[2017-05-22 15:11] andrerfneves commented on #174
@stoneman1 I haven't experienced any crashes myself. Do you mind taking a look at #154 and see if you find anything? I'll continue the triage of the issues and trying to resolve/close the PRs.

[2017-05-23 06:13] stoneman1 commented on #174
@andrerfneves Yeah will check that out

[2017-05-23 10:17] colinramsay commented on #103
I assume that this refers to:

https://github.com/yamill/react-native-orientation/blob/278291739e2b7c8ab208fdf404e4b139e24b4a3f/android/src/main/java/com/github/yamill/orientation/OrientationModule.java#L166

If `onHostPause` has already been called when `onHostDestroy` is called, the error "receiver already unregistered" will be logged. Need to verify that the code shown in the issue report would

[2017-05-23 10:19] #52 closed

[2017-05-23 10:23] colinramsay commented on #81
I think we need more information @toddmetheny - were you able to resolve this or do you still have an issue?

[2017-05-23 10:25] colinramsay commented on #115
Duplicate of #86

[2017-05-23 10:25] #115 closed

[2017-05-23 10:28] colinramsay commented on #120
No.

You'd have to store the default somewhere and force a switch to that.

This isn't really a bug and as @ItsNoHax said, you could do it from your router or some other higher-order component.

[2017-05-23 10:28] #120 closed

[2017-05-23 10:31] #124 closed

[2017-05-23 10:31] colinramsay commented on #124
@tooodooo please let us know if the solution @saidmoya12 provided doesn't meet your requirements and we can re-open this issue.

[2017-05-23 10:34] colinramsay commented on #174
@andrerfneves yes, that approach seems good. You seem to be doing a good job leading the charge so I'll just skulk around doing minor triage, but if you need anything specific let me know 👍

[2017-05-23 16:37] frankrod commented on #159
Hi I'm having this same issue with RN version 0.36. Any ideas?

[2017-05-23 16:44] andrerfneves commented on #159
@frankrod where is your `react-native-orientation` package pointed to inside your package.json file? It has to be mapped to this git repo on the `master` branch.

[2017-05-23 16:47] frankrod commented on #159
@andrerfneves `"react-native-orientation": "git+https://github.com/yamill/react-native-orientation.git"`

[2017-05-23 18:13] andrerfneves commented on #159
@frankrod I need to be able to test on a 0.36RN version. I'll need sometime to look into it. I'll get back to you shortly.

[2017-05-23 19:05] andrerfneves commented on #174
Thanks @stoneman1. @colinramsay yeah that sounds good to me. I'll keep going through each of these issues. If you have any time to go through a couple of them and respond/ask for details/debug and at least add the correct labels that would be great. That way we know which are actual bugs and/or just issues from the user's codebase.

[2017-05-23 21:06] dozel commented on #159
@frankrod try replacing the line in package.json with "react-native-orientation": "^1.17.0" => I'm on RN 0.37 and this was the only way I could get past this issue when compiling.

[2017-05-24 00:13] andrerfneves commented on #159
@dozel @frankrod if you are having to point to the NPM package version 1.17.0, then it means that the commits to upgrade to 0.40+ are not working correctly with backwards compatibility. @frankrod, go ahead and follow @dozel's idea, and I'll try and look at this sometime tomorrow.

[2017-05-24 08:18] bharath-kamath commented on #174
Please look to add android support, as its not working on Android 6.0.1.

[2017-05-24 08:21] stoneman1 commented on #174
@bharath-kamath What is the error? Is there a issue about it? It probably has something to do with the bluetooth permissions and location services

[2017-05-24 08:56] bharath-kamath commented on #174
On the master, I get the error mentioned in #160

When I try with the npm version, I am getting no errors, but then the listeners do not fire when I change orientation.

[2017-05-24 13:09] Jaessun commented on #92
I know this issue is a bit old but as I had the same problem I thought I'd share the solution I found.

If you use react native's [`AppState`](https://facebook.github.io/react-native/docs/appstate.html), you can listen to changes in the application's state with `AppState.addEventListener`. This will tell when the application goes in the background and comes back to the foreground.

In the listener

[2017-05-24 13:11] colinramsay commented on #92
@Jaessun that seems like a reasonable solution (thanks!), I wouldn't expect orientation events to fire when the app is idle. @garlab I'm going to close this issue as it seems like the method @Jaessun  has suggested will work. Please let us know if that's not the case and we'll re-open.

[2017-05-24 13:11] #92 closed

[2017-05-24 13:15] colinramsay commented on #82
This isn't currently supported, so PR welcome.

[2017-05-24 13:26] stoneman1 commented on #174
@andrerfneves @colinramsay should we use squash and merge only? I think it is the best way to keep the repo clean :)

[2017-05-24 14:05] andrerfneves commented on #174
As long as we make sure the final PR commit that gets merged is descriptive enough for the feature/fix being implemented, I'm all for squashing and merging @stoneman1.

[2017-05-28 21:13] NikitaSergeevich opened #176 "Failed to lock orientation to landscape (lockToLandscape()) on iPhone 5SE simulator (IOS 9)"
It seems like know issue for the IOS 9 described [here ](https://stackoverflow.com/questions/32684922/ios9-alternative-to-uidevice-currentdevice-setvalue-to-force-orientation/33567990 ). So maybe someone who is familiar with swift can fix this issue?

[2017-05-28 21:14] NikitaSergeevich commented on #174
Hi guys, [this one](https://github.com/yamill/react-native-orientation/issues/176) is urgent for me. Please take a look.

[2017-05-29 09:13] sergio-solnet opened #177 "React/RCTBridgeModule.h file not found"
Pointing to the master branch, but Xcode project fails to build.

<img width="695" alt="screenshot at may 29 21-02-59" src="https://cloud.githubusercontent.com/assets/26699244/26543625/c2155264-44b2-11e7-94ec-f78926673c37.png">

The same error occurs with React/RCTEventDispatcher.h in Orientation.m file

Any ideas how it can be fixed?

[2017-05-29 21:33] rogerkerse opened #178 "Orientation change without supportedInterfaceOrientationsForWindow"
Is there a way to get device orientation without overriding what I have set in plist. Kind of like a virtual vs actual?

[2017-05-31 14:52] airman00 commented on #178
Possibly react-native-orientation is what you're looking for?

You'll need to modify your NavigationApplication.java and add on onConfigurationChanged in there, like I did here:
https://github.com/airman00/react-native-navigation/blob/master/android/app/src/main/java/com/reactnativenavigation/NavigationApplication.java

[2017-06-01 00:02] rBurgett commented on #174
I'm still getting the error from #114. Is that being addressed? The app won't build on Android. I am on an extremely tight schedule w/ my client and I can't finish this app if it won't even run on Android.

[2017-06-01 00:02] andrerfneves commented on #174
@rBurgett what version of RN are you using?

[2017-06-01 00:04] rBurgett commented on #174
@andrerfneves 0.44.2

[2017-06-01 00:08] andrerfneves commented on #174
@rBurgett weird I'm using this in two applications on 0.44.1 right now. Both iOS and Android work well. What's your `MainApplication` and `MainActivity` look like?

[2017-06-01 00:11] rBurgett commented on #174
MainActivity.java
[code]
MainApplication.java
[code]

[2017-06-01 00:14] andrerfneves commented on #174
@rBurgett so removing `this` from here and also remove the duplicate `new OrientationPackage()` should get it to build.
[code]

[2017-06-01 00:21] rBurgett commented on #174
That's fantastic, @andrerfneves! I can't thank you enough for the quick advice. It's working perfectly. So, was the problem caused by `react-native link`?

[2017-06-01 00:25] andrerfneves commented on #174
I believe you might have first run `react-native link` with the outdated `npmjs` version of the packaged. That version uses an old constructor in the Android implementation which is different than the version in `master` branch user here. Thus the difference in syntax. No only that, but if you ran `react-native link` after switching to the new package you would have gotten a double import statemen

[2017-06-01 18:34] andrerfneves opened #180 "Create update demo with RN 44"
replace current demo with new updated version with RN 44

[2017-06-03 14:47] wellyshen commented on #158
Hi Guys, I fellow the updated instruction of README to install this library on RN 0.44.0, now it works :)

[2017-06-03 14:47] #158 closed

[2017-06-03 14:50] andrerfneves commented on #158
@wellyshen glad it worked out

[2017-06-03 14:52] andrerfneves commented on #177
@sergio-solnet what RN version are using? Did you follow the updates instructions on README?

[2017-06-03 14:53] andrerfneves commented on #163
@navratill We've removed cocoapods support. Please follow updated README instructions

[2017-06-03 14:53] #163 closed

[2017-06-03 14:54] andrerfneves commented on #164
@denny64 Please refer to https://github.com/yamill/react-native-orientation/issues/163#issuecomment-305979805

[2017-06-03 14:54] #164 closed

[2017-06-03 14:54] #131 closed

[2017-06-03 14:56] andrerfneves commented on #140
Closing this. If it's still happening please open new issue.

[2017-06-03 14:56] #140 closed

[2017-06-03 14:56] #130 closed

[2017-06-03 14:57] andrerfneves commented on #123
@testxin is this still happening? What RN Version are you using?

[2017-06-03 14:57] #114 closed

[2017-06-03 14:58] #109 closed

[2017-06-03 14:59] #100 closed

[2017-06-03 15:01] andrerfneves commented on #96
Please refer to updated documentation. NPM's version of the package is outdated. you should install it directly from GitHub.

[2017-06-03 15:01] #96 closed

[2017-06-03 15:02] andrerfneves commented on #111
@whizkid77 is this behavior still happening with latest version?

[2017-06-03 15:05] #82 closed

[2017-06-03 15:06] #97 closed

[2017-06-03 15:07] andrerfneves commented on #91
Please follow updated README documentation on installing this package. If problems persist, create a new issue.

[2017-06-03 15:07] #91 closed

[2017-06-03 15:07] andrerfneves commented on #79
Please follow updated README documentation on installing this package. If problems persist, create a new issue.

[2017-06-03 15:07] #79 closed

[2017-06-03 15:08] andrerfneves commented on #78
@bradennapier if you could create a PR for this would be great

[2017-06-03 15:10] andrerfneves commented on #87
Please follow updated README documentation on installing this package. If problems persist, create a new issue. Works with latest RN 0.44

[2017-06-03 15:10] #87 closed

[2017-06-03 15:11] andrerfneves commented on #72
@L-Jovi this package just got a couple more collaborators so we're working through the issues. Is this still happening to your application? I believe the package has advanced quite a bit since then, could you test it with the updated version? Please refer to README for detailed instructions to install.

[2017-06-03 15:11] #72 closed

[2017-06-03 15:13] andrerfneves commented on #70
@skilesare and @webmakersteve After RN 0.29 the constructors for Android changed. Could you test with latest updates?

[2017-06-03 15:17] andrerfneves commented on #65
Resolved and merged.

[2017-06-03 15:17] #65 closed

[2017-06-03 15:19] andrerfneves commented on #58
More info needed. Please open a new issue if this is persisting for you. Also try and update the package since there have been multiple updates. Refer to README.

[2017-06-03 15:19] #58 closed

[2017-06-03 15:30] andrerfneves commented on #50
@ajmeraramesh in your application entry point, you should use the `getInitialOrientation` method to get the current device's orientation async and then either `lockToPortrait` or `lockToLandscape` according to the return statement. That way your application will always start up the correct way the user's orientation is. Also try and update to latest version as things might have changed since then.

[2017-06-03 15:30] #50 closed

[2017-06-03 16:50] Firfi commented on #109
@andrerfneves thank you for fixing this

[2017-06-05 20:40] whizkid77 commented on #111
Sorry I don't know.  I actually haven't worked on my project for a while.  I'll post in this thread if I revisit.  Feel free to close issue.

[2017-06-05 21:23] andrerfneves commented on #111
Cool thanks @whizkid77

[2017-06-05 21:23] #111 closed

[2017-06-06 14:25] ibussieres commented on #158
I believe this can be closed.

[2017-06-07 07:39] stoneman1 commented on #177
Seems like old version of RN. Try the new master. ifdef was replaced with if

[2017-06-07 12:41] zhuyifan2013 commented on #171
@andrerfneves  Let me provide more information :
You enter Page A , invoke Orientation.lockPortrait(),  then rotates your device to landscape-left ,  please notice here ,rotate your device does not mean the Page A will rotate (the difference between UIInterfaceOrientation and UIDeviceOrientation ) , right ?
OK, the next step is navigating to  Page B which expects a landscape-left view, and I invok

[2017-06-07 13:23] Stefan-vs commented on #177
I've got the same problem with a project running react-native 0.39.2

[2017-06-07 16:36] andrerfneves commented on #171
@zhuyifan2013 Could you try the following approach and see if that works for you:

1) - `lockToPortrait()` inside `componentDidMount` in Page A (this will not allow Page A's UI to rotate)
2) - `unlockAllOrientations()` and `lockToLandscapeLeft()` inside `componentDidMount` of Page B (this will force rotate the UI of Page B)
3) - _**Optional**: You might have to use `lockToPortrait()` before routin

[2017-06-08 02:51] zhuyifan2013 commented on #171
@andrerfneves
I have tried your approach , but it also does not work.
 Here is a very simple test : https://github.com/zhuyifan2013/testOrientation , you could have a try on iOS ,remember to change jscodeLocation to your IP address in AppDelegate.m file.

And to this problem, I think the most important is the implementation of lock* method is
`[[UIDevice currentDevice] setValue:[NSNumber numberWit

[2017-06-08 09:13] stoneman1 commented on #177
@Stefan-vs newest master? New master should not have that ifdef there it should only be if

[2017-06-08 20:12] Stefan-vs commented on #177
@stoneman1 yes
<img width="335" alt="screen shot 2017-06-08 at 22 11 19" src="https://user-images.githubusercontent.com/17435135/26948673-8063f69e-4c97-11e7-86a1-03d6e0c5d439.png">

[2017-06-08 21:41] axelphunter opened #181 "Rotating the device quickly causes Orientation event listener to keep switching orientation"
While running the Orientation event listener. If the device orientation is changed quickly a few times the app uncontrollably keeps changing orientation.

[2017-06-09 06:44] stoneman1 commented on #177
Will check today / tomorrow this

[2017-06-10 15:45] stoneman1 commented on #177
https://github.com/yamill/react-native-orientation/commit/01feaaaeadc62d02d26adbdf4633c3c92c88429c broke this. Will patch today

[2017-06-10 15:54] #177 closed

[2017-06-10 15:56] andrerfneves commented on #177
@Stefan-vs please check with the updated version of `master`

[2017-06-10 15:58] andrerfneves opened #183 "NPM Deployment"
@stoneman1, should we deploy to NPM under a different name to stop this confusion between pointing to `master` branch? @yamill doesn't seem to be active at all in GitHub and I doubt we'd be able to have him move the `react-native-orientation` npm package to one of us. What are your thoughts? We could do `react-native-device-orientation` or something along those lines, but then the name will differ

[2017-06-10 16:08] stoneman1 commented on #183
I think we should ask @yamill to allow us to do updates on npm. If nothing happens next week perhaps we have to make a new npm package.

[2017-06-10 16:09] andrerfneves commented on #183
@stoneman1 cool that sounds like a plan.
@yamill, what are your thoughts? Any chance you can hook us up with access to do NPM updates? Should be a quick 5 second thing really.

[2017-06-11 11:36] orenklein opened #185 "Readme documentation - adding swift example"

[2017-06-11 16:07] cmedinasoriano commented on #114
For anyone still having this problem after trying everything said here, try also replacing in the MainApplication.java
[code]
with this
[code]

IMPORTANT, verify that `new OrientationPackage(),` is not repeated as it was in mine.

[2017-06-12 04:10] hjh5696 opened #187 "is Orientation.unlockAllOrientations() asynchronous?"
I am trying to figure out how to set specific component's orientation to landscape while others' locked to portrait.
So I did Orientation.lockToPortrait() at componentDidMount of the entry component. It works all well. In the specific component I tried
`Orientation.unlockAllOrientations();
Orientation.lockToLandscape();`

[2017-06-12 18:08] Stefan-vs commented on #177
It's working!

[2017-06-13 00:57] kevinvandijk opened #188 "addSpecificOrientationListener only reports LANDSCAPE or PORTRAIT on Android"
I noticed that there seems to be no code for LANDSCAPE-LEFT or LANDSCAPE-RIGHT for Android right now. Maybe it's worth mentioning in the docs?

[2017-06-13 06:36] lizhiren2016 commented on #130
明明很多人都是中国人，偏要装着说英语，何必

[2017-06-13 07:01] stoneman1 commented on #130
English please and Chinese -> English translation does not work so well. But figured out it had something to do with the NPM so check other issues about that.

[2017-06-16 18:55] kesha-antonov commented on #174
Heys guys!

Anybody knows how to get orientation for android when orientation locked? (It works in iOS)

https://github.com/yamill/react-native-orientation/pull/106#issuecomment-309106451

[2017-06-16 22:06] quinnbaetz commented on #123
I'm seeing this as well, but only on some devices.  Specifically iPhone 6s, 10.2

[2017-06-17 23:22] quinnbaetz commented on #123
The fix I found was to put

  [application setStatusBarHidden:YES withAnimation:UIStatusBarAnimationNone];
  [application setStatusBarHidden:NO withAnimation:UIStatusBarAnimationNone];

in AppDelegate.m in didFinishLaunchingWithOptions

[2017-06-21 00:50] abhishiv commented on #183
@stoneman1 Please publish a new npm package if you can.

[2017-06-21 15:37] stoneman1 commented on #183
Seems like we can't catch @yamill, so let's do our own npm package?  We probably should fork this into a new repo then to match it with the package name?

[2017-06-21 15:39] andrerfneves commented on #183
@stoneman1 I guess we could write that up in the README file. What name are you thinking? `react-native-orient` & `react-native-orientation` & `react-native-orientation-controller` are all taken.

[2017-06-21 15:41] stoneman1 commented on #183
Why is there so many packages? :(

[2017-06-21 15:42] andrerfneves commented on #183
I'm about to get `react-native-device-orientation`. That's the best one so far.

[2017-06-21 15:42] stoneman1 commented on #183
It is taken already :(

[2017-06-21 15:44] stoneman1 commented on #183
Maybe I try to email @yamill ?

[2017-06-21 15:45] andrerfneves commented on #183
Ah damn. Yamill doesn't seem to be repsonsive or interested in dealing with this Open Source stuff. I'm guessing he's also got some issues with doing OSS while working for SnapChat.

[2017-06-21 15:46] andrerfneves commented on #183
`react-native-orientation-handler`? lol
`react-native-orientation-package`? lol

[2017-06-21 15:46] stoneman1 commented on #183
Not good names :D

[2017-06-21 15:47] andrerfneves commented on #183
Yeah I know. Just thinking of anything at this point.

[2017-06-21 16:09] stoneman1 commented on #183
Sent @yamill a email and explaining the situation.

[2017-06-21 16:23] andrerfneves commented on #183
Alright cool. Sounds good.

[2017-06-21 21:22] genaby commented on #174
@kesha-antonov
in degrees 0, 90, 180, 270:
[code]
enable:
[code]
disable
[code]

[2017-06-21 21:25] genaby commented on #174
@kesha-antonov
forgot rotation
[code]

[2017-06-22 02:32] kesha-antonov commented on #174
@genaby Thanks!

[2017-06-22 12:11] idlework commented on #141
@andrerfneves this issue is not fixed with the npm module. yarn add / npm install still gives this issue.

[2017-06-22 14:58] AndrewMigal opened #191 "Android installation error"
Hi. I get this errors.
`MainActivity.java:26: error: cannot find symbol
          public void onConfigurationChanged(Configuration newConfig) {
                                             ^
  symbol:   class Configuration
  location: class MainActivity
MainActivity.java:28: error: cannot find symbol
            Intent intent = new Intent("onConfigurationChanged");
            ^
  symbol:   class

[2017-06-22 15:56] andrerfneves commented on #141
@idlework like it says in the README, the `npm` module is not updated to the GitHub repository. Which means the NPM version of the package is outdated. Please use the `"git+https://git@github.com/yamill/react-native-orientation.git"` instead of the npm version inside your package.json. You can also read through the README for more info. If error persists, please open another issue.

[2017-06-22 20:55] andrerfneves commented on #191
@AndrewMigal did you follow the steps below, present in the [README](https://github.com/yamill/react-native-orientation/blob/master/README.md) file for the package?

<img width="925" alt="screen shot 2017-06-22 at 4 53 06 pm" src="https://user-images.githubusercontent.com/2574011/27455461-5919503c-576b-11e7-83db-bba48c1e947f.png">

Are you sure you have imported Intent and Configuration? Also, jus

[2017-06-23 09:11] karan101292 opened #192 "Error while building android with"
Take a look at following error. It occurs when I run `react-native run-android`.
I have configured everything mentioned in documentation.
My react-native version is RN 0.44

[code]

[2017-06-23 09:23] karan101292 commented on #192
got it worked with #93

[2017-06-23 09:40] AndrewMigal commented on #191
@andrerfneves That's it. My fault, sorry!

[2017-06-23 09:40] #191 closed

[2017-06-25 14:45] andrerfneves commented on #192
@karan101292 Seems like you got it working. Going to close this then!

[2017-06-25 14:45] #192 closed

[2017-06-26 17:13] inferusvv opened #195 "getSpecificOrientation is not a function in latest master"
I've installed latest master and seems like something wrong with `getSpecificOrientation`. I seen PR where it is bridged, but it is not working for me

[2017-06-27 15:22] andrerfneves commented on #195
@inferusvv is this happening on iOS or Android?

[2017-06-27 15:23] inferusvv commented on #195
Android. I see, that functionality was reverted in some reasons

[2017-06-27 16:43] PimDeWitte commented on #195
Same here.

[2017-06-27 16:46] andrerfneves commented on #195
@inferusvv & @PimDeWitte, `getSpecificOrientation` is not a method implemented in the Android side of things. Currently only works in iOS. Will make a note to add a blurb about this to the README. PR's for this functionality are welcome.

[2017-06-27 16:46] #195 closed

[2017-06-27 16:55] andrerfneves commented on #180
Resolution with #193

[2017-06-27 19:05] johndanek commented on #30
I can confirm that I am seeing this issue, but only when building a release APK on Android.

[2017-06-27 20:14] andrerfneves commented on #30
@johndanek what version of the package and of RN are you using?

[2017-06-27 20:15] johndanek commented on #30
I'm directly pulling from the git source for the orientation package, and using react-native 0.45.1

I think I'm seeing this error when the app crashes for a different reason, and the receiver is lingering.

[2017-06-28 07:38] inferusvv commented on #195
@andrerfneves Could you tell please why implemented functionality was reverted?

[2017-06-28 12:07] valerybodak opened #196 "lockToLandscape() applies landscape mode for the previous screen"
I have component **A** which I set to portrait mode:

[code]

I press some button and open component **B** which I set to landscape mode:

[code]
When I press hardware BACK button on **Android** I see component **A** in the landscape mode.

Any suggestions? Please help me.

[2017-06-28 16:56] andrerfneves commented on #196
@valerybodak I dealt with that in one of my applications too, my workaround was to have a `Orientation.lockToPortrait()` call running together with my `navigator.pop()` call so that I force the Portrait orientation when routing back to my previous screen.

[2017-06-29 09:28] itswaze opened #197 "lockToLandscape() error when used onPress"
Here is a preview:
https://vid.me/zjDs

So, on the first 2 rotations, I used the keyboard to rotate (cmd + arrow key) which works fine, but if I try to click the image to open in full screen and rotate the screen, it crashes.

Im using an if on the render, if the screen is Landscape, render the full screen image, if the screen is Portrait render the rest. When I click the image I'm calling Orienta

[2017-06-29 10:07] itswaze commented on #197
Found a solution!
https://github.com/tasiyo7333/react-native/commit/6292596e6092ca2e63cbd294aa8d4ce46fb776ee

[2017-06-29 10:07] #197 closed

[2017-06-29 12:11] valerybodak commented on #196
@andrerfneves
Yes. it works for Android. Thank you.

[2017-06-29 14:41] andrerfneves commented on #196
Glad it worked. Closing this as there is a known workaround.

[2017-06-29 14:41] #196 closed

[2017-06-29 14:43] andrerfneves commented on #195
@inferusvv I'm not aware of why the code was reverted. I'm guessing it didn't work as intended after merged. If you would like to read upon that PR/code and bring back the functionality for Android we can open a new PR for it.

[2017-07-02 14:47] Gaia-Nutrition commented on #183
Any updates? Would really love to import this properly :)

[2017-07-03 06:57] stoneman1 commented on #183
@andrerfneves Maybe we fork it and use name react-native-orientation2?

[2017-07-04 01:08] muhammetdemirci commented on #181
👍 same on ios devicesz

[2017-07-04 14:27] StefanWallin commented on #174
I just want to chime in that I've experienced the crash mentioned in https://github.com/yamill/react-native-orientation/pull/154 and have forked the master branch for my company on that issue alone. Look forward to this project getting back on track.

I experience the crash on using the hardware back button to exit the app on Android 6.0.1 on a Samsung Galaxy S5 Neo. Currently in the process of up

[2017-07-05 01:41] yamill commented on #183
Hi, I can give access to the npm. Can you list the usernames who need access? Thanks!

[2017-07-05 01:43] yamill commented on #183
Just gave access to @stoneman1 and @andrerfneves

[2017-07-05 01:51] andrerfneves commented on #183
@yamill thank you for the access. We should now be good to move along with our deployment. A release will be made. Be in the lookout for it on an updated README. @stoneman1 I can probably branch a release tomorrow. Closing this for now.

[2017-07-05 01:51] #183 closed

[2017-07-06 15:03] andrerfneves commented on #174
I'm closing this as the issues pointed above don't relate to the 2.0 release issue. Please open a corresponding issue if it still persists.

[2017-07-06 15:03] #174 closed

[2017-07-06 15:25] andrerfneves commented on #178
@rogerkerse I don't believe this is possible with this package. If you find a workaround please let us know of your solution. Cheers.

[2017-07-06 15:25] #178 closed

[2017-07-06 19:28] andrerfneves commented on #180
Completed

[2017-07-06 19:28] #180 closed

[2017-07-06 19:29] andrerfneves commented on #136
Closing this for now as it works as expected

[2017-07-06 19:29] #136 closed

[2017-07-06 19:29] andrerfneves commented on #132
@jerson @mayaa6 have you tried with latest package v2.0.0?

[2017-07-06 19:30] andrerfneves commented on #107
v2.0.0 has RN dependency of 40+. This shouldn't occur anymore.

[2017-07-06 19:30] #107 closed

[2017-07-06 19:31] andrerfneves commented on #145
@jaggerwang please refer to the update `Demo` folder which shows how to deal with the OrientationListener.

[2017-07-06 19:31] #145 closed

[2017-07-06 19:32] andrerfneves commented on #116
@klinkov Could you try and use v2.0.0 that was published to NPM today?

[2017-07-06 19:33] andrerfneves commented on #187
@hjh5696 are you trying to set a Component inside of a View as `landscape` while the View itself is `portrait`? Not sure what the issue is.

[2017-07-06 19:34] andrerfneves commented on #103
PR #202 will fix this issue. Moving it to track on #202

[2017-07-06 19:34] #103 closed

[2017-07-06 19:35] andrerfneves commented on #81
Closing this as it's been opened for over a year and the actual iOS device type shouldn't matter. @toddmetheny please try with the latest package version (check README for more info)

[2017-07-06 19:35] #81 closed

[2017-07-06 19:36] andrerfneves commented on #86
v2.0.0 resolves this. Please update. Cheers

[2017-07-06 19:36] #86 closed

[2017-07-06 19:36] andrerfneves commented on #84
Please use the latest version of the package and follow the README for updated guide on how to install and link native dependencies for both Android and iOS platforms

[2017-07-06 19:36] #84 closed

[2017-07-06 19:38] andrerfneves commented on #80
Why would you create 3 instances of the same View in your application? Not entirely sure of the issue here. If you believe it stands, we accept a PR and it will be reviewed.

[2017-07-06 19:39] andrerfneves commented on #123
This shouldn't happen with new version v2.0.0. If it persists please open a new issue. Also a workaround was provided above.

[2017-07-06 19:39] #123 closed

[2017-07-06 19:40] andrerfneves commented on #95
Please follow the updated guide on README on how to install and link native dependencies. Check version v2.0.0.

[2017-07-06 19:40] #95 closed

[2017-07-06 19:41] andrerfneves commented on #56
This is an iOS-specific issue. PRs are welcome.

[2017-07-06 19:42] andrerfneves commented on #19
This package doesn't allow for this. As the README states, we can designate orientation on a `per screen basis`. PRs are welcome. Closing this for now.

[2017-07-06 19:42] #19 closed

[2017-07-06 19:42] andrerfneves commented on #70
Closing this for now.

[2017-07-06 19:42] #70 closed

[2017-07-06 19:43] andrerfneves commented on #40
@RyGuyM  couldn't you simply use a state variable for this conditional along with the orientation listener?

[2017-07-06 19:44] andrerfneves commented on #63
Please try updated v2.0.0 as well as updated guide on README. Listeners should get called even when View is locked.

[2017-07-06 19:44] #63 closed

[2017-07-06 19:45] andrerfneves commented on #167
This package effectively takes over the basic setup done on XCode. Please check the updated guide on README and use v2.0.0.

[2017-07-06 19:45] #167 closed

[2017-07-07 09:54] DriesVS opened #203 "No podspec found in 2.0.0"
I was wondering why the podspec/gradle files got removed in the 2.0.0?
Currently we only use cocoapods/gradle for all our react native dependencies, we like to keep it that way.

Is there a reason for this change?

Thx!

[2017-07-07 14:23] andrerfneves commented on #203
@DriesVS given inconsistencies between the `cocoapods/rnpm` ecosystems we decided to follow the general pattern that most RN-packages are following by using `react-native link` instead. I can however bring that functionality back if it's a requirement for you. I imagined most users didn't use it given no `cocoapods` documentation/guide for this package.

Stay on v1.1.17 for now and I'll try and me

[2017-07-08 04:46] gitlovenotwar commented on #145
@jaggerwang Have you able to solve this issue? I have too a specific page only to landscaped.

[2017-07-08 05:41] soutot commented on #145
@gitlovenotwar I posted a solution in this issue https://github.com/yamill/react-native-orientation/issues/136#event-1153358922
Check if it works for you. My working demo repository is still in github: https://github.com/soutot/react-native-orientation-test

[2017-07-08 10:51] klinkov commented on #116
It work!

[2017-07-10 03:15] thehappycoder opened #205 "Locking doesn't rotate the interface when screen is already rotated properly"
I have two components. One of them (B) locks to portrait and the other one (A) -- to landscape right.

### To reproduce:

1. Load A
2. Rotate the device to portrait
3. Click a button to make it switch to component B

### Expected

- Interface is autorotated to portrait
- AppDelegate's application supportedInterfaceOrientationsForWindow was called

### Actual
- Interface stays in landscape
- AppDel

[2017-07-10 04:18] thehappycoder commented on #205
### Alternative workaround
Add this
`[[UIDevice currentDevice] beginGeneratingDeviceOrientationNotifications];`
before calling
`[[UIDevice currentDevice] setValue: ];`

and
[code]
before
`return [Orientation getOrientation];`
in AppDelegate's application supportedInterfaceOrientationsForWindow

[2017-07-11 16:40] itswaze opened #206 "[Android] Rotating screens makes app restart to initial scrren"
Hi!

I have a modal that shows a swiper with images, and It has landscape support. But on Android, everytime I rotate the screen the app resets to main screen. Although on iOS it works perfectly fine.

Anyone experienced this?

EDIT: More detailed explanation and videos: https://github.com/facebook/react-native/issues/14971

[2017-07-12 10:38] bd-arc commented on #203
Hi @andrerfneves,

I confirm that we would be really glad to see the podspec and gradle files come back ;)

[2017-07-12 11:34] hjh5696 commented on #187
@andrerfneves I am trying to keep a specific component `landscape` while other components of app `portrait`.

[2017-07-12 18:26] andrerfneves commented on #187
@hjh5696 this package only does not allow you to keep certain components in a page landscape and others portrait. This package works on a per-screen basis. Do you mean `screen` instead of `components` in your question?

[2017-07-12 18:33] andrerfneves commented on #203
@bd-arc @DriesVS I'll be able to work on this tomorrow. I've been busy attending the Chain React Conference. Will try and get a PR and a release up tomorrow.

[2017-07-13 18:24] facuescobar commented on #80
@andrerfneves
disregard this, I suspended this orientation feature for a while, and I took it back today.

I think there was an issue with the old structure of the component, which is now improved.

I installed the plugin again, and the listener seems to be removed correctly!
I'll let you know if I have any trouble!

thanks!

[2017-07-13 18:56] andrerfneves commented on #80
Awesome! @facuescobar glad it's working. Closing this for now.

[2017-07-13 18:56] #80 closed

[2017-07-13 19:10] facuescobar opened #207 "Specific Orientation not available on Android"
Hi,

[code]

This functions are not available on Android.
 Seems there was an old PR to handle this, but it was reverted.

https://github.com/yamill/react-native-orientation/pull/51

It would be great to have this feature working on Android!
Thanks!

[2017-07-14 06:14] stoneman1 commented on #207
Hi,

Do you have time to make a new PR against the new master? Not sure when I have time to do one (Will be away at least this weekend). Will then test and merge :)

[2017-07-14 10:04] visylvius commented on #160
For anyone who still is having this problem in iOS, you need to manually link the dependencies even if you ran react-native-link.
To link frameworks and libraries:

General -> Embedded Binaries
General -> Link Frameworks and Libraries

and copy Libraries/RCTOrientation.xcodeproj/Products/libRCTOrientaton.a into the link framework and libraries,

also you need to add this file your appdelagate.m fi

[2017-07-14 13:23] itswaze opened #208 "Error when trying to set orientation to landscape"
Hi!
Im trying to lock orientation to landscape when I click in a image, but I'm getting this error:
`[RCTModalHostViewController shouldAutorotate] is returning YES`

React-Native 0.46.2

[2017-07-14 13:48] #208 closed

[2017-07-15 10:34] mayaa6 commented on #160
I am not familiar with iOS project, and how can I found the file `Libraries/RCTOrientation.xcodeproj/Products/libRCTOrientaton.a`?

[2017-07-15 22:54] andrerfneves commented on #207
@facuescobar until a PR is created against `master` addressing this, we can add a notice to the absence of these methods on Android platforms. It's important to note that the PR was reverted given certain issues, so the new implementation on Android would have to take that into account. Closing this for now.

[2017-07-15 22:54] #207 closed

[2017-07-15 23:08] andrerfneves commented on #203
@bd-arc and @DriesVS could you try `v2.1.0`? Just published to NPM. I've tried on a brand new RN install and it worked, but want to make sure it works on a project already using Pods.

[2017-07-15 23:09] andrerfneves commented on #203
#209

[2017-07-15 23:09] #116 closed

[2017-07-15 23:10] #78 closed

[2017-07-15 23:10] andrerfneves commented on #40
Closing this for now. Open a new issue if it persists.

[2017-07-15 23:10] #40 closed

[2017-07-15 23:11] #56 closed

[2017-07-15 23:11] andrerfneves commented on #132
Closing this for now.

[2017-07-15 23:11] #132 closed

[2017-07-16 12:48] DriesVS commented on #203
@andrerfneves I can confirm that react-native-orientation v2.1 works on existing projects using Cocoapods! Thanks for bringing back the Podspec guys!!

[2017-07-16 14:18] andrerfneves commented on #203
Perfect. Closing this then.

[2017-07-16 14:18] #203 closed

[2017-07-17 08:01] Maydar opened #211 "Android crash after resuming app"
Sometime, application crashes when I resume it.

OS: Android 5.1

Stacktrace:

java.l
ang.RuntimeException: Unable to pause activity {com.knopka/com.reactnativenavigation.controllers.NavigationActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.Intent android.app.Activity.registerReceiver(android.content.BroadcastReceiver, android.content.IntentFilter)' on

[2017-07-17 09:17] visylvius commented on #160
If you go into xcode, right beneath the x in upper left hand corner there are 8 icons.
Click on the folder icon then click on your project. In your project follow the path
```Libraries/RCTOrientation.xcodeproj/Products/libRCTOrientaton.a```

[2017-07-17 10:04] stoneman1 commented on #211
Can you test #202 if that fixes it?

[2017-07-17 13:14] Bon4ik opened #212 "The specified child already has a parent. You must call removeView() on the child's parent first."
![screen shot 2017-07-17 at 4 05 01 pm](https://user-images.githubusercontent.com/10346804/28269185-cbb92f3e-6b09-11e7-9898-055b3592e4bb.png)

Good afternoon. I'm using orientation with react-native-video and make accelerometer imitation for rotate video. I haven't any trouble with IOS but on android i'm getting this error. Have somebody got the same trouble?

[2017-07-17 14:31] andrerfneves commented on #212
@Bon4ik I haven't seen that before. Could you provide a reproducible demo/source code?

[2017-07-17 14:32] andrerfneves commented on #211
Could also be related to `react-native-navigation` implementation with `react-native-orientation`. Try #202 like @stoneman1 said and we can try and debug.

[2017-07-17 15:19] Bon4ik commented on #212
@andrerfneves not something special. I just use Orientation.lockToPortrait(); and my android application show this error.

[2017-07-17 15:34] facuescobar opened #213 "Android: Orientation Change Event not firing if Orientation is locked"
Hi,

my app orientation is locked on Portrait,
on iOS I can add and receive , orientation change events even when orientation is locked.

But on Android, orientation change events are **not** firing if orientation is locked.

Can we fire orientation events event if the orientation is locked?

[2017-07-19 03:45] hbk671104 commented on #206
Same. Any update on this?

[2017-07-19 09:11] itswaze commented on #206
I found out what was doing that to mine. It was the splash screen. Really weird!
I started the project from the beginning and started adding all the components one at a time, till I found out that it was the splash screen doing that.

So I removed it and now it won't crash. I have to find out another solution for the splash screen.
It's a really weird bug, but that was it on my end.

[2017-07-19 17:50] andrerfneves commented on #206
What splash screen were you using @itswaze?

[2017-07-19 17:56] itswaze commented on #206
I used the normal splash screen, natively, on Android Studio. So it's strange that the app resets...
But i'll try a splash screen library and maybe it won't reset that way.

[2017-07-19 18:10] andrerfneves commented on #206
@itswaze I believe Android apps are actually not meant to have a splash screen, at least not like iOS apps do. But maybe give `react-native-smart-splash-screen` a try. I have used it along with this package in the past and it works just fine.

@hbk671104 are you still having issues with the above?

[2017-07-20 13:16] tminard commented on #136
This does not work as expected. Orientation.h should be updated according to latest RN standard.

[2017-07-20 13:55] itswaze opened #214 "[Android] Opening screen in Landscape opens cached screen?"
I don't really know how to explain this bug....
I open a screen with `Orientation.lockToLandscapeRight()` and it shows something that I don't even have on this screen, and what I have shows above data. When I press back, it opens the actual screen I wanted, but in portrait...

Here is a video:
https://vid.me/vUdOh

And here is my code:
[code]
As you can see there is no images here. But on the vide

[2017-07-21 08:20] samw2k00 commented on #206
@andrerfneves  im having similar issue with this, when i have `Orientation.unlockAllOrientations()` on one of my screen (react-native-navigation), when i rotate the screen, the app restarted, sometime it crashed.

[2017-07-21 14:49] andrerfneves commented on #206
@samw2k00 could you check if this solves it? https://github.com/wix/react-native-navigation/issues/661.

[2017-07-22 00:46] samw2k00 commented on #206
@andrerfneves I decided to get rip of the android splash screen and implement the smart splash screen. That work

[2017-07-23 14:10] andrerfneves commented on #206
Awesome @samw2k00!

@itswaze I'm gonna go ahead and closing this as the issue doesn't seem to be related to this package. Open a new one if you believe it is.

[2017-07-23 14:10] #206 closed

[2017-07-24 01:48] 1551715165 commented on #160
<img width="477" alt="2017-07-24 09 46 33" src="https://user-images.githubusercontent.com/17865182/28505313-26b60470-7055-11e7-8c57-3e819861be66.png">No libRCTOrientation. A file? I don't have the link.

[2017-07-24 02:40] mayaa6 commented on #160
@1551715165 the file in red color
![image](https://user-images.githubusercontent.com/3221154/28506177-fff10180-705b-11e7-8a6b-2b98708f6ee1.png)

[2017-07-24 03:01] 1551715165 commented on #160
@mayaa6  I know. I don't know this file in the whole project all find it again. Don't have this. A file. This file is created by yourself?

[2017-07-25 07:06] powerscin opened #216 "Incorrect podspec."
On pod install step caught error:
```fatal: Remote branch 2.1.0 not found in upstream origin```
You might create 2.1.0 tag

[2017-07-25 09:34] stoneman1 commented on #216
Made a release. Does it work now?

[2017-07-25 10:18] powerscin commented on #216
No.
Sorry, looks like I deceived you. Could you create 2.1.0 branch?

[2017-07-25 10:52] stoneman1 commented on #216
Ah checked the podspec file and it seems to want 2.1.0 tag instead of v2.1.0. @andrerfneves Do we want to change podspec or the names of the releases?

[2017-07-25 10:53] stoneman1 commented on #216
Should work now. Lets see where we end up on those releases.

[2017-07-25 11:07] powerscin commented on #216
Yes, now it works. Thanks a lot

[2017-07-25 11:07] #216 closed

[2017-07-25 12:22] andrerfneves commented on #216
@stoneman1 we can just use v.2.x.x for the `name` of the release and actually `tag` the release with 2.x.x from now on. Thanks for handling this.

[2017-07-25 14:40] #214 closed

[2017-07-25 17:51] aschwizzy710 commented on #96
Hey - I'm installing directly from Github, but Orientation is still locked to Portrait on Android devices. Help??

[2017-07-25 17:51] aschwizzy710 commented on #100
Hey - I'm installing directly from Github, but Orientation is still locked to Portrait on Android devices. Help??

[2017-07-25 18:28] aschwizzy710 opened #217 "Orientation locked to Portrait on Android Devices"
Hey - I'm installing the package directly from Github (git+https) to access the latest version and I have linked all the dependencies and configured in Android Studio as stated in the ReadMe.

When I run the app for Android, orientation is still locked in Portrait.

Does anybody have a fix for this issue?

[2017-07-26 15:08] andrerfneves commented on #100
@aschwizzy710 you no longer need to install from GitHub. Check the updated README file. Just run `npm install react-native-orientation --save` and follow the rest of the installation guidelines. Cheers

[2017-07-26 16:02] andrerfneves commented on #217
What are you trying to achieve @aschwizzy710? Installing the package by itself won't force your application to go landscape. You need to use the correct methods available in order to programmatically control the orientation of your application. Also, you no longer need to install from GitHub. Check README it's been updated.

[2017-07-26 16:41] Shudrum opened #218 "Bug: undefined is not an object (evaluating 'Orientation.lockToPortrait')"
Hello!

I'm trying to lock my application orientation. And I have some problems…

Here are the steps I've followed as I don't wan't to `eject` my application:

First, install…

[code]

Then the link:

[code]

Finally, here is the simple usage:

[code]

And nope … I still get this error:
**undefined is not an object (evaluating 'Orientation.lockToPortrait')**

This is the first time I link a packag

[2017-07-26 16:53] andrerfneves commented on #218
@Shudrum Did you follow all the instructions to configure the Orientation module from the README file? Also, what do you mean by `eject` your application? Are you using CRNA?

[2017-07-26 17:16] Shudrum commented on #218
Hi @andrerfneves!

Exactly, I am using CRNA, so I cannot link the dependency manually, only automatically. This is what I mean by `eject`: `react-native eject`.

[2017-07-26 19:23] vccabral commented on #218
I am getting the same issue with a new project. Any ideas of where to start looking? I am use to the old style react-native project that has an ios folder which seem to be gone now.

[2017-07-26 19:33] aschwizzy710 commented on #217
I'm attempting to see the landscape design when I rotate my phone - I know I have to programmatically control it. It is working fine on iOS. On Android, the phone does NOT rotate. @andrerfneves

[2017-07-26 19:39] aschwizzy710 commented on #217
Also in the debug console - I do not see my console.logs which are supposed to fire on orientation change

[2017-07-26 19:41] aschwizzy710 commented on #213
+1

[2017-07-26 20:46] Shudrum commented on #218
Maybe related to that: https://github.com/rebeccahughes/react-native-device-info/issues/181

[2017-07-27 14:59] andrerfneves commented on #218
@Shudrum I haven't built React Native applications using CRNA. It's great for small prototypes and all but when dealing with a large application I like to be in control of all of the aspects of my application. That being said, I don't believe you can use native-modules with CRNA. It uses Expo's SDK and to allow for use with this package you'd need to eject it. Read more on @skevy's answer here: ht

[2017-07-27 15:01] andrerfneves commented on #217
@aschwizzy710 what method calls are you using? Some methods are iOS-specific. We've yet to add that to the README docs. Can you provide a gist or reproducible code that I can test?

[2017-07-27 15:04] andrerfneves commented on #213
@aschwizzy710 @facuescobar currently the package doesn't support this. If orientation is locked, it doesn't fire on Android. It's a known caveat and PRs are highly encouraged.

[2017-07-27 15:14] aschwizzy710 commented on #217
Regardless of the method calls I'm using, the screen should rotate in Android, correct?

I'm not using any complex logic, just switching the styles to landscape styles when the device is in Landscape orientation and vice versa in Portrait mode.

Basically, I'm listening for orientation and using the below function to change the global orientation state in redux.

_orientationDidChange = (orientati

[2017-07-27 15:18] andrerfneves commented on #217
@aschwizzy710 and you're sure that you configured your native Android code from here https://github.com/yamill/react-native-orientation#configuration? It's hard to debug if I can't see any code though, I'm sure you can imagine.

[2017-07-27 15:24] aschwizzy710 commented on #213
So I do use an orientation lock, but it is on a specific component and I unlock the orientation in componentWillUnmount() on that component which is locked.

Is that the cause for the orientation being permanently locked on Android? @andrerfneves

[2017-07-27 15:26] andrerfneves commented on #213
Try `unlockAllOrientations()` as well as `lockLandscape()` in `componentWillMount` of the next view. That way it will unlock and re-lock it correctly. Maybe the `willUnmount` call is not affecting it.

[2017-07-27 15:26] aschwizzy710 commented on #217
#213 might have given me a clue - I do use an orientation lock, but it is on a specific component and I unlock the orientation in componentWillUnmount() on that component which is locked.

Is that the cause for the orientation being permanently locked on Android? @andrerfneves

[2017-07-27 15:42] aschwizzy710 commented on #213
Well, I am not trying to lock it to landscape. I just want it to rotate to landscape when the phone orientation is changed and change back freely when it is changed back to portrait. I will try unlockAllOrientations in the componentWillMount of the next view.

[2017-07-27 15:45] andrerfneves commented on #213
Oh, if all you want is the ability to free up the view to move portrait/landscape, then just make sure your native Android code allows for that, and run a `unlockAllOrientations()` in `componentWillMount` of the view. As a side, in order to control my application, I explicitly `lockPortrait()` in my entry-point View, and only unlock them for views that need landscape access as well.

[2017-07-28 14:46] aschwizzy710 commented on #213
Excellent - it worked! I appreciate your feedback.

[2017-07-28 14:51] andrerfneves commented on #213
@aschwizzy710 glad it worked. Closing this for now.

[2017-07-28 14:51] #213 closed

[2017-08-01 12:47] andrerfneves commented on #217
Closing this as the problem was resolved in another issue.

[2017-08-01 12:47] #217 closed

[2017-08-01 12:51] andrerfneves commented on #212
@Bon4ik it's hard to debug these things without much code. But my suggestion would be to put the `Orientation.lock...` calls inside of `componentWillMount()` of each individual screen. And if you want the certain component to be able to go portrait or landscape, simply `unlockAllOrientations()` on the same lifecycle method.

If your app only requires landscape in certain views, for better control,

[2017-08-02 19:34] Ajith-Pandian commented on #218
@Shudrum If you want to add Native modules you need to eject your app. It's documented in create react native app under Philosophy->**_No Lock-In: You can always "eject" to your own build setup if you need to write custom native code or modify how your app is built._**

[2017-08-03 14:42] ebarns commented on #218
I've also been having this issue and i used the regular react native init. No need to eject my app. I've followed the readme directions many times. Always undefined

[2017-08-03 15:04] andrerfneves commented on #218
@ebarns can you show us some reproduction code that I can test with? What version of RN? Maybe create a repo that I can check it out! Thanks

[2017-08-03 15:08] ebarns commented on #218
@andrerfneves I'm using RN 0.46.4
I'll work on setting up a repo soon. Thanks.

[2017-08-04 17:35] basvdheijden opened #220 "Event doesn't fire in Android"
Somehow, the ``Orientation.addOrientationListener`` event doesn't trigger in Android for me.
I've got a splashpage activity, so my configuration is slightly different than usual. What piece of code from the installation is responsible for making the event work? Or where can I look to get it working?

It works on IOS btw.

[2017-08-04 19:08] Philipwzj commented on #220
+1

[2017-08-06 07:42] joseph-so commented on #220
I am facing the same issue

[2017-08-07 08:26] RavishankarR commented on #220
Facing same issue.

[2017-08-07 14:42] Philipwzj commented on #220
Same

[2017-08-07 14:43] basvdheijden commented on #220
So this is not related to my setup.

[2017-08-07 19:39] andrerfneves commented on #220
I will try and investigate this issue soon. Sorry fellas been hella busy at work. Bear with me.

[2017-08-09 13:33] Lizhooh opened #221 "react native 0.47 build error"
In the previous version of RN (0.45), there was no error, but I could not install it when I upgraded to 0.47.

(android)
[code]

[2017-08-09 16:35] hjh5696 commented on #187
@andrerfneves Yes, sorry for delay. Actually I am using Modal from react native. When user click a button, the Modal component is set to be visible and I want it to be landscape.
below is the code
`componentWillMount() {`
    `    Orientation.unlockAllOrientations();`
    `    window.setTimeout(() => {`
  `    Orientation.lockToLandscape();`
    `    }, 100);`
  `    }`

 `//some other implementat

[2017-08-09 17:36] andrerfneves commented on #187
@hjh5696 I would `lockToPortrait` inside your main application entry point, that way you can just run `unlockAllOrientations` to allow for both, and `lockToLandscape` if you want to force it. I find that `componentWillMount` works better than `componentWillUnmount`

[2017-08-09 17:39] andrerfneves commented on #221
Probably has to do with this: https://github.com/facebook/react-native/issues/15232

[2017-08-10 01:33] Lizhooh commented on #221
@andrerfneves  After upgrading to V3.0, it has now been successful.

[2017-08-10 01:33] #221 closed

[2017-08-10 19:20] batusai513 commented on #220
I had the same issue, but in my case i had created a new activity as the Main Activity and configured the other activity became the SplashActivity, the thing is that i wasn't setting the configChanges on the AndroidManifest.xml, when i set that, the event worked again.

[code]

[2017-08-11 04:05] lavarajallu opened #222 "React-native Android Set only Portrait Mobile Phones Otherwise tablets shows landScape and Portrait"
how can i Solve this please give me the Reply

[2017-08-11 14:32] andrerfneves commented on #222
@lavarajallu I'm actually implementing this in a project today. I'll route back with my resolution.

[2017-08-11 15:12] aschwizzy710 commented on #213
Hey @andrerfneves - how do you go about calling lockPortrait()  in your entry point view (to control the app as you mentioned) if you need that view to be landscape responsive as well?

[2017-08-11 15:31] andrerfneves commented on #213
In that case just `unlockAllOrientations` at your entry point and it should behave accordingly.

[2017-08-11 16:55] aschwizzy710 commented on #213
Thanks!

[2017-08-11 21:18] ajwhite commented on #211
☝️ the start of the stack begins at `com.reactnativenavigation.controllers.NavigationActivity`, this is unrelated to `react-native-orientation`.

[2017-08-12 00:18] getnashty commented on #181
I've also seen on iOS

[2017-08-13 23:26] blairvanderhoof commented on #151
Making it fullscreen like the thread says does not work in simulator. Not getting any events fired.

[2017-08-14 16:10] ndejesus1227 commented on #218
Just commenting that I'm seeing the same error. What's crazy to me is that when you `console.log(Orientation)` you can clearly see all of the functions that come with it. However, calling them makes Orientation undefined?

Madness!

I also installed with RN init and I only ran npm link, didn't do it manually.

[2017-08-14 17:07] ndejesus1227 commented on #218
Just tried manually linking and it still doesn't work.

[2017-08-14 17:57] andrerfneves commented on #218
@ndejesus1227 what RN version are you working with?

[2017-08-14 18:19] ndejesus1227 commented on #218
@andrerfneves react-native: 0.44.2

[2017-08-14 19:29] andrerfneves commented on #218
And what version of `react-native-orientation`? You should be using v2.1.0 since v3.0.0 has breaking changes only meant to support latest RN version v0.47+

[2017-08-15 05:55] dan-h-ch commented on #95
Make sure to include this line int eh AppDelegate.m.

`#import "Orientation.h" // <--- import`

It clearly says so in the README, but I saw the # and thought it was a comment at first.

[2017-08-17 15:40] anthonyjoeseph commented on #121
This works for me:

[code]

[2017-08-17 17:31] soutot commented on #121
I posted a solution here https://github.com/yamill/react-native-orientation/issues/136#issuecomment-290476178

Also created a repo with a working example: https://github.com/soutot/react-native-orientation-test

Hope it helps

[2017-08-17 17:36] lavarajallu commented on #121
But where it i can placed

On Aug 17, 2017 11:04 PM, "Tiago Souto" <notifications@github.com> wrote:

[2017-08-17 18:24] soutot commented on #121
@lavarajallu in my case I had to replace the import in my node_modules/react-native-orientation/iOS/Orientation.h to look like this: #import <React/RCTBridgeModule.h>

Let me know if it helps

[2017-08-18 10:48] itswaze opened #224 "Screen orientation overrides previous screens"
Hi!
I have the navigation Screen A -> Screen B.
On Screen A I have `Orientation.lockToPortrait()`, and on Screen B I have `Orientation.unlockAllOrientations()`, but when I press to go back to screen A from screen B it overrides the `lockToPortrait` and unlocks all orientations.

How can I fix this?

[2017-08-18 15:58] lavarajallu commented on #121
Okay thanq

On Aug 17, 2017 11:54 PM, "Tiago Souto" <notifications@github.com> wrote:

[2017-08-19 05:18] lavarajallu opened #225 "orientation type UNKNOWN lock is it Possible?"
I want UNKNOWN orientation is lock how can we do it ? Any one

[2017-08-19 05:21] lavarajallu commented on #121
mr@GeoffreyPlitt  you  have to go in header search path in
$(SRCROOT)/../node_modules/react-native-orientation/iOS/RCTOrientation in recursive method go to settings

[2017-08-22 15:36] andrerfneves commented on #225
Can you expand on this @lavarajallu? Not sure I understand what you're asking.

[2017-08-28 20:49] aschwizzy710 opened #226 "LockedToPortrait View with UnlockAllOrientations in the next view."
When moving from a view in my app (View B) which I am using Orientation.lockToPortrait() to the dashboard (View A), while the phone is in landscape mode, the styles display broken and show the portrait styles in a landscape fashion until I rotate my phone to portrait and then it is reset.

On my componentWillUnmount on View B, I have Orientation.unlockAllOrientations() and on my dashboard (View A)

[2017-08-28 21:36] #226 closed

[2017-08-29 22:36] dotnetprofessional commented on #224
If you call <code>Orientation.unlockAllOrientations()</code> on screen B then you'll need to call <code>Orientation.lockToPortrait()</code> again when you navigate back to screen A. These methods are App wide, not to a specific screen.

[2017-08-29 22:41] dotnetprofessional commented on #222
You'll need to get the device screen resolutions. see https://facebook.github.io/react-native/docs/dimensions.html Based on that make your determinations on which way to orient.

[2017-08-30 09:17] #224 closed

[2017-08-30 14:18] ferminmoli commented on #218
I'm using react-native 0.45.1 and if I inspect NativeModules object Orientation class is not present.

[2017-08-30 14:43] ferminmoli commented on #218
![a](https://user-images.githubusercontent.com/10004370/29878252-61b59af0-8d78-11e7-92ba-da584d8e8000.png)

You can see there that Orientation is not present, that's why the plugin is breaking.

[2017-09-01 06:19] lavarajallu opened #228 "how can i update getInitialOrientation come back to previous Screen"
i am running in iPad the Application if i am run the app is Portrait Side, initial Screen and After I am going to another Screen but now i am turned on the tab landscape mode it's showing landscape side in that screen.But the Main issues is in that screen come back to initial screen (initially calling Portrait Design Saved.)
i am using  `const initial = Orientation.getInitialOrientation();` So how

[2017-09-04 16:12] kelvinaliyanto commented on #220
Is this fixed? I have android:configChanges and I also remove android:screenOrientation, because previously it was portrait. The orientation is actually changing, just that the event is not fired. Can we have the necessary code for AndroidManifest.xml in ReadMe so we can make sure everyone is on the right track.

[2017-09-05 03:19] jctadios commented on #43
same problem here but I'm using expo. Any idea?

[2017-09-05 12:53] lavarajallu opened #229 "Orientation is not updating after unlock the device Screen."
Hello,
i am Developing one Application, Actually my App is showing landscape and Portrait in Tabs/iPads. But  in Tablets when i was check the Orientation functionality working fine until unlock the screen.When i was lock the screen on Particular mode like (Portrait/Landscape) After that turned the Device showing before Orientation. Not Update the present Orientation.
[code]
I am calling this metho

[2017-09-05 14:02] tirrorex commented on #220
Same issue here

[2017-09-05 21:00] RyanMitchellWilson opened #230 "Doesn't work with Android"
My app has orientation disabled so I am using this to find out when the phone was rotated so that I can do specific things on the screen. IOS works perfectly but on android it will not detect my device turning.
Right here I have the same app running on both android (bottom) and ios (top):
<img width="1107" alt="screen shot 2017-09-05 at 2 57 03 pm" src="https://user-images.githubusercontent.com/11

[2017-09-06 13:22] lavarajallu commented on #229
Yes , Finally I got a Solution
As see from the source code of OrientationModule.java, this library just call unregisterReceiver in onHostPause, so you can't receive onConfigurationChanged event after lock the screen.One way is to edit the onHostResume inside OrientationModule.java to meet what you want.

[code]

[2017-09-06 13:22] #229 closed

[2017-09-07 09:13] sidd123456 commented on #220
@kelvinaliyanto  does the event gets triggered in your case now plz let me now how you fixed it

[2017-09-07 11:17] MrLoh commented on #220
I have the same issue. I'm using `SplashActivity` from `react-native-navigation`, not sure wether that has something to do with it, but it looks like `SplashActivity` is extending `AppCompatActivity` which has an `onConfigurationChanged` method, which looks like this:

[code]

I have no experience with Android development, so I can’t really tell wether this is good enough for it to work.

[2017-09-07 11:18] MrLoh commented on #220
@batusai513 are you also `using react-native-navigation`, how does your MainActivity look like?

[2017-09-07 11:32] MrLoh commented on #220
As a workaround, I just figured that I can also get the orientation with the Dimensions API. Works just fine under android.

[code]

[2017-09-08 10:05] tirrorex commented on #220
Working fine, thanks for the workaround @MrLoh  !

[2017-09-08 10:21] MrLoh commented on #220
Yes. But orientation locking isn't working that way. Would still be greatly appreciated if someone could help.

[2017-09-08 10:23] tirrorex commented on #220
I don't have any problem with orientation locking personnaly

[2017-09-08 16:33] MrLoh commented on #220
I got receiving the events to work with React native navigation thanks to this thread: https://github.com/wix/react-native-navigation/pull/769#issuecomment-328150055

But I still can't lock the orientation.

[2017-09-08 23:56] MrLoh opened #231 "lockToPortrait not working on android"
I got the library set up correctly and it works perfectly on iOS. But on android I do receive the events but the `lockToPortrait` doesn't work properly. I've checked that the android functions actually get called, but the orientation doesn't seem to get locked.

[2017-09-10 07:56] stoneman1 commented on #231
Do you have any code example which could be tested?

[2017-09-10 07:57] stoneman1 commented on #220
Would be great to get a example code. Seems to work for me so just wondering what I did differently.

[2017-09-10 08:01] MrLoh commented on #220
Im Setting the orientation lock in a redux actions side effect. Maybe it has to do with that, does the lock somehow resolve itself again? I doubt a code example would help. I call the function and the java function on the android side also gets called, so not sure how it could not work, unless I'm misunderstanding something about how it works. I though when I call the function the orientation gets

[2017-09-10 09:48] MrLoh commented on #231
See my answer in #220 as well. I simply call the function during initialization of my app and then after my video player stops. All of that happens in side effects. The functions also arrive on the native side. I added a lot statement in java and the function of the library gets called. Am I miss understanding something about how the library works on android. I though I just call the function and

[2017-09-10 09:49] MrLoh commented on #231
Could it be, that the function can just take effect after a screen has properly been initialized on android?

[2017-09-11 08:28] MrLoh commented on #231
Ok, it really seems like it had to do with the fact that screens weren't ready yet to receive the event or something like that. After firing events only when a screen was actually loaded it worked. It seems the screen locking on android might be more implemented on a per screen basis or something like that.

[2017-09-11 08:28] #231 closed

[2017-09-11 17:48] andrerfneves commented on #230
If all you want is to check whether the device is rotated Landscape/Portrait, why not use the `onLayout` callback on a parent `View` where you can check whether the WIDTH > HEIGHT or vice-versa and update your `styles` accordingly?

Regardless, we'd need to see some code to be able to diagnose what you are doing different that is not allowing for this to work on the Android side of things.

[2017-09-11 17:50] andrerfneves commented on #43
@jctadios you cannot use this with Expo. You'll have to `eject` from your Expo build to be able to write native code, and thus integrate this package. Please refrain from commenting on closed tickets. Create a new one if you'd like further help/clarification.

[2017-09-11 17:58] RyanMitchellWilson commented on #230
Well if you have orientation set to portrait only for the app onLayout doesn't get triggered when you rotate the device. So I need this library to be able to figure out when the device is turned since the app doesn't rotate on its own.

I have found a bit of a work around for this calling `Orientation.unlockAllOrientations()` when the modal opens and `Orientation.lockToPortrait()` when the modal c

[2017-09-13 06:14] Solitaryo commented on #218
So? no solution or workaround for this?

[2017-09-15 19:08] andrerfneves commented on #228
If I understand you correctly, this is what you could do.

- You must be using some routing solution. That router provides you with some `goBack()` or `popRoute()` method that is called when you press the `arrow` on the top left. You can call your `lockToPortrait` method in there before routing to the previous screen. Like so:

[code]

[2017-09-15 19:12] andrerfneves commented on #230
@RyanMitchellWilson one approach would be to `lockToPortrait()` in your application's entry point (some React component). Then you should be able to `unlockAllOrientations()` in any screens that you want to allow for multiple orientations. Whenever you close these screens, you should just `lockToPortrait` once again.

[2017-09-15 19:16] andrerfneves commented on #220
Closing this since it was resolved in #231

[2017-09-15 19:16] #220 closed

[2017-09-15 19:17] andrerfneves commented on #222
@lavarajallu my approach was to do something along these lines:

[code]

[2017-09-15 19:17] andrerfneves commented on #225
Closing for now

[2017-09-15 19:17] #225 closed

[2017-09-15 19:18] andrerfneves commented on #218
I need to be able to see code to make sure you are integrating the library correctly. Without reproducible code it is hard to know if this even is a problem / how to resolve it.

[2017-09-19 16:04] zamponotiropita commented on #231
It doesn't work when testing on android. Also the solution above is not clear to me.
That's a simple example:

[code]

[2017-09-19 16:05] zamponotiropita commented on #231
@MrLoh what was your solution? Could you provide a code snippet?

[2017-09-19 16:07] MrLoh commented on #231
Try using it in component did mount. Also to just fix the whole app orientation you should just configure your project correctly, instead of using this library.

[2017-09-19 18:30] codedogfish commented on #205
@thehappycoder make a PR :D

[2017-09-20 14:14] d4rkc0de commented on #222
Did you find a solution yet?

[2017-09-20 17:06] RyanMitchellWilson commented on #230
That is essentially what I did only I just unlockAllOrientations when my component shows then I lockToPortrait when I hide my component. Would be nice if I didn't need to unlock the orientation to detect the orientation changing since that makes this library act differently between android and ios so you'd have to write two sets of logic depending on which platform. If they had the same behavior t

[2017-09-20 17:52] andrerfneves commented on #230
We're aware of the discrepancy between the two platforms and are working towards unifying/documenting them. Maintainers are quite busy so PRs are always welcome. Closing this for now.

[2017-09-20 17:52] #230 closed

[2017-09-25 08:27] Saad-Bashar commented on #218
For me the problem was after I changed the config in XCode, I did not rebuild from Xcode again. After rebuilding, it is working fine.

[2017-10-05 17:36] KevKo1990 opened #234 "Detect device rotation even Orientation.lock is set?"
Hi,
I have the use case, that I want to rotate a picture in a modal floating over my normal view, however not the component beneath the modal.

Is there a way to detect rotations of the device even I set before `Orientation.lockToPortrait();`?
Thanks!

[2017-10-11 05:37] fungilation opened #235 "[RN 0.49+] `requiresMainQueueSetup` needed for main queue setup, with constantsToExport"
OS:
- [ ]  MacOS

_Platform:_
- [ ]  iOS

### Console warning:
Module Orientation requires main queue setup since it overrides `constantsToExport` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

<img width="1170" alt="screenshot 2017-10-10 22 18 15" src="https://

[2017-10-11 05:41] jiajiajiaga opened #236 "function Orientation.getInitialOrientation() return same value 'PORTRAIT'"
hi, when i use the function Orientation.lockToLandscape(), screen rotate surely ,but the toast still in the left of screen, seeming the middle of Portrait , could you tell me the reason ..?

[2017-10-11 20:03] andrerfneves commented on #236
@jiajiajiaga I'm going to need you to elaborate a little. Not sure what you mean by `the toast still in the left of screen`. Is there any code you can show, or repo that allows me to reproduce the issue?

[2017-10-11 20:04] andrerfneves commented on #235
@fungilation great catch. Any chance you can submit a PR for this?

[2017-10-11 23:44] anonrig opened #238 "Add .npmignore to ignore demo folder"
Whenever a user includes this library to their project, they automatically fetch `/demo` folder. It's required to have a .npmignore to ignore the /demo folder.

[2017-10-12 19:42] #235 closed

[2017-10-13 11:05] craigcoles opened #241 "Locking orientation and xcode orientation"
I have been trying to get orientation locking working within my app for a day or two now. I could not get it to work for love nor money. After trying everything else, uninstalling and reinstalling multiple times, I noticed that all orientations were ticked inside XCode. I decided to deselect one and retried and locking orientations began to work.

Is there any reason why having all orientations ti

[2017-10-13 13:46] andrerfneves commented on #241
@craigcoles I don't think I've run into an issue like that. What version of RN, RNOrientation and iOS are you using? Would love to test this out.

[2017-10-13 14:27] craigcoles commented on #241
Tested on two version of RN: `0.47.1` and `0.49.3`
RNOrientation version: `3.1.0`
iOS Version: `10.3`

[2017-10-15 14:32] haimyyy commented on #241
+1
note, works fine on iOS 11

[2017-10-17 20:50] natakina commented on #222
I have the same issue. The solution with dimensions doesn't work in my case, because I have the same dimensions, when I rotate the phone (Android). And nothing rotate on the screen. Orientation.getInitialOrientation() always returns "portrait".

[2017-10-17 21:03] natakina commented on #222
Do you have such problem on Android now or mistake is in my code?